{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
<div class="body" id="body">
    <div class="row">
      <h1>{% placeholder "pgtitle" or  %}{% endplaceholder %}</h1>
        <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
            <div class="box">
              {% placeholder "main_content" or %} {% endplaceholder %}
              <div class="device-hide"><h3>Introducing Pebble video</h3>
              <video controls="controls" width="580"  onClick="_gaq.push(['_trackEvent', 'Video',  'Play', 'Pebble Story']);">
                      <source src="https://s3-eu-west-1.amazonaws.com/mypebble/pebble.webm" type="video/webm" />
                      <source src="https://s3-eu-west-1.amazonaws.com/mypebble/pebble.ogg" type="video/ogg" />
                  </video>
                      <!--[if lte IE 11 ]>
                      <h4>Can’t see the video? Are you trying to watch in Internet Explorer 11?</h4>
                      <p>You can download the following plugin - <a href="https://tools.google.com/dlpage/webmmf" target="_blank">
                      WebM-Video plugin</a></p>
                      <![endif]-->
                      <!--[if lte IE 8 ]>
                      <h4>Can't see the video? Are you trying to watch in Internet Explorer? </h4>
                      <p>Your browser does not support this video type. Please upgrade your browser or try a different browser.</p>
                      <h5>Recommended Browsers</h5>
                      <ol>
                          <li><a href="http://www.mozilla.org/en-US/firefox/fx/#desktop" target="_blank">Mozilla Firefox</a></li>
                          <li><a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a></li>
                      </ol>

                      <![endif]-->
            </div>
        </div>
    </div>
    <div class="grid1 sidebar device-hide ">
        <div class="box alternative">
              <h2>Pebble Supports Make a Wish Foundation in 2013</h2>
                <p>
                  We’re delighted to announce our chosen charity for 2013 is the Make a Wish Foundation.
                  We’ll be fundraising by sharing the physical challenge of a triathlon – with some of us
                  swimming, others cycling, and the rest of us running, to clock up the miles and the sponsorship.
                  We’ll also be holding a charity music event in the summer with local bands – including our very own
                  Dan Wakenshaw – right here in Newcastle-upon-Tyne.  More details to follow!
                </p>
                <hr>
               <h2 class="title">2012 Miles for Charity</h2>
                <p>We challenged ourselves to cycle 2012 miles to raise £2,012 for ChildLine
                    over the summer. We had a fantastic time on our bike ride to Tynemouth on
                    the 10th June, cycling from Pebble HQ in Ouseburn, Newcastle, along the
                    cycle route to the coast.</p>
                    <p>Thank you to everyone who sponsored us and
                    supported this worthwhile cause.</p>
            </div>
      </div>
    </div>
  <div class="row device-hide">
    <div class=" box grid3">
      <h2 class="title">Partners</h2>
        <p>We are proud to work with the following companies:</p>
           <ul class="partners">
              <li>
                <a href="http://www.squidcard.com/" target="_blank" title="sQuid"
                   onClick="_gaq.push(['_trackEvent', 'Partner', 'Click', 'sQuid']);">
                <img alt="sQid" src="{{ STATIC_URL }}img/partner/squid_logo.jpg"></a>
              </li>
              <li>
                <a href="http://www.the-contactgroup.com/products/call-parents/" target="_blank"
                   title="Call Parents"
                   onClick="_gaq.push(['_trackEvent', 'Partner', 'Click', 'Call Parents']);">
                <img alt="CallParents" src="{{ STATIC_URL }}img/partner/cparent_logo.png"></a>
              </li>
              <li>
                <a href="http://schoolcomms.com/" target="_blank" title="Schoolcomms"
                   onClick="_gaq.push(['_trackEvent', 'Partner', 'Click', 'Schoolcomms']);">
                <img alt="Schoolcomms" src="{{ STATIC_URL }}img/partner/scoms_logo.png"></a>
              </li>
              <li>
                <a href="https://www.parentmail.co.uk/index.html" target="_blank" title="Parentmail"
                   onClick="_gaq.push(['_trackEvent', 'Partner', 'Click', 'Parentmail']);">
                <img alt="ParentMail" src="{{ STATIC_URL }}img/partner/Pmail_logo.png"></a>
              </li>
              <li>
                <a href="http://www.civica.co.uk/education" target="_blank" title="Civica"
                   onClick="_gaq.push(['_trackEvent', 'Partner', 'Click', 'Civica']);">
                <img alt="Civica" src="{{ STATIC_URL }}img/partner/civica_logo.png"></a>
              </li>
              <li>
                <a href="https://www.parentpay.com/" target="_blank" title="ParentPay"
                onClick="_gaq.push(['_trackEvent', 'Partner', 'Click', 'ParentPay']);">
                <img alt="ParentPay" src="{{ STATIC_URL }}img/partner/ppay.gif"></a>
              </li>
          </ul>
    </div>
  </div>

<div class="row device-hide">
  <div class="box grid3">
  <h3>The Team</h3>
  <div class="team">
    <ul class="staff">
        <li>
          <img src="{{ STATIC_URL }}img/staff/jg.jpg" alt="Janis Green"
          onClick="_gaq.push(['_trackEvent', 'Staff',  'Image', 'JG']);">
          <span>Janis Green</span>
        </li>
        <li>
          <img src="{{ STATIC_URL }}img/staff/rg.jpg" alt="Ryan Green"
          onClick="_gaq.push(['_trackEvent', 'Staff',  'Image', 'RG']);">
          <span>Ryan Green</span>
        </li>
        <li>
          <img src="{{ STATIC_URL }}img/staff/mg.jpg" alt="Michael Green"
          onClick="_gaq.push(['_trackEvent', 'Staff',  'Image', 'MG']);">
          <span>Michael Green</span>
        </li>
        <li>
          <img src="{{ STATIC_URL }}img/staff/wh.jpg" alt="Wendy Haswell"
          onClick="_gaq.push(['_trackEvent', 'Staff',  'Image', 'WH']);">
          <span>Wendy Haswell</span>
        </li>
        <li>
          <img src="{{ STATIC_URL }}img/staff/scw.jpg" alt="Scott Walton"
          onClick="_gaq.push(['_trackEvent', 'Staff',  'Image', 'SCW']);">
          <span>Scott Walton</span>
        </li>
        <li><img src="{{ STATIC_URL }}img/staff/mk.jpg" alt="Marc Kirkwood"
        onClick="_gaq.push(['_trackEvent', 'Staff',  'Image', 'MK']);">
        <span>Marc Kirkwood</span>
        </li>
        <li>
          <img src="{{ STATIC_URL }}img/staff/ah.jpg" alt="Adam Hogg"
          onClick="_gaq.push(['_trackEvent', 'Staff',  'Image', 'AH']);">
          <span>Adam Hogg</span>
        </li>
        <li>
          <img src="{{ STATIC_URL }}img/staff/dw.jpg" alt="Daniel Wakenshaw"
          onClick="_gaq.push(['_trackEvent', 'Staff',  'Image', 'DW']);">
          <span>Daniel Wakenshaw</span>
        </li>
        <li>
          <img src="{{ STATIC_URL }}img/staff/rb.jpg" alt="Rebecca Bell"
          onClick="_gaq.push(['_trackEvent', 'Staff',  'Image', 'RB']);">
          <span>Rebecca Bell</span>
        </li>
        <li>
          <img src="{{ STATIC_URL }}img/staff/janw.jpg" alt="Janice Write"
          onClick="_gaq.push(['_trackEvent', 'Staff',  'Image', 'JW']);">
          <span>Janice Wright</span>
        </li>
        <li>
          <img src="{{ STATIC_URL }}img/staff/Ian.jpg" alt="Ian Wilson"
          onClick="_gaq.push(['_trackEvent', 'Staff',  'Image', 'IW']);">
          <span>Ian Wilson</span>
        </li>
        <li>
          <img src="{{ STATIC_URL }}img/staff/sb.jpg" alt="Samantha Burton"
          onClick="_gaq.push(['_trackEvent', 'Staff',  'Image', 'SB']);">
          <span>Samantha Burton</span>
        </li>
      </ul>
    </div>
    </div>
</div>
</div>
 {% endblock %}
