{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
<div class="enquiries">
        <div class="body" id="body">
                <div class="row">
                    <h1>{% placeholder "pgtitle" or  %}{% endplaceholder %}</h1>
                    <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid2">
                            <div class="box-inner">
                                {% placeholder "main_content" or %} {% endplaceholder %} 
                            </div>
                        </div> 
                    </div>
                    <div class="grid1 sidebar partners"> <!-- Column. Modules inside will stack vertically -->
                        <div class="supportcommunitybox box grid1">
                            <div class="box-inner">
                                <h2 class="title">Partners</h2>
                                    <p>We are proud to work with the following companies:</p>
                                
                                <div class="partners">
                                    <ul>
                                        <li><a href="http://www.squidcard.com/" target="_blank" title="#"><img alt="sQid" src="{{ STATIC_URL }}img/partner/squid_logo.jpg"></a></li>
                                        <li><a href="http://www.1st4schoolsinsurance.co.uk/pebble/" target="_blank" title="#"><img alt="Genesis" src="{{ STATIC_URL }}img/partner/genesis_logo.png"></a></li>
                                        <li><a href="http://www.cardsave.net/" target="_blank" title="#"><img alt="CardSave" src="{{ STATIC_URL }}img/partner/csave_logo.png"></a></li>
                                        <li><a href="http://www.the-contactgroup.com/products/call-parents/" target="_blank" title="#"><img alt="CallParents" src="{{ STATIC_URL }}img/partner/cparent_logo.png"></a></li>
                                        <li><a href="http://schoolcomms.com/" target="_blank" title="#"><img alt="Schoolcomms" src="{{ STATIC_URL }}img/partner/scoms_logo.png"></a></li>
                                        <li><a href="https://www.parentmail.co.uk/index.html" target="_blank" title="#"><img alt="ParentMail" src="{{ STATIC_URL }}img/partner/Pmail_logo.png"></a></li>
                                        <li><a href="http://www.civica.co.uk/education" target="_blank" title="#"><img alt="Civica" src="{{ STATIC_URL }}img/partner/civica_logo.png"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="row extras">
                    <div class="box supportfocus carousel" id="supportCarousel">
                        <div class="team">
                        <h2 class="title">The Pebble Team</h2>
                            <div class="carousel-inner">
                                <div class="active item">
                                    <div class="support-portrait">
                                            <ul>
                                                <li><img alt="alt text" src="{{ STATIC_URL }}img/staff/jg.jpg" alt="Janis Green"><span>Janis Green</span></li>
                                                <li><img alt="alt text" src="{{ STATIC_URL }}img/staff/rg.jpg" alt="Ryan Green"><span>Ryan Green</span></li>
                                                <li><img alt="alt text" src="{{ STATIC_URL }}img/staff/mg.jpg" alt="Michael Green"><span>Michael Green</span></li>
                                                <li><img alt="alt text" src="{{ STATIC_URL }}img/staff/wh.jpg" alt="Wendy Haswell"><span>Wendy Haswell</span></li>
                                                <li><img alt="alt text" src="{{ STATIC_URL }}img/staff/scw.jpg" alt="Scott Walton"><span>Scott Walton</span></li>
                                               
                                           </ul>                                     
                                   </div>
                                </div>
                                <div class="item">
                                    <div class="support-portrait">
                                            <ul>
                                                <li><img alt="alt text" src="{{ STATIC_URL }}img/staff/rjg.jpg" alt="Rachel Gordon"><span>Rachel Gordon</span></li>
                                                <li><img alt="alt text" src="{{ STATIC_URL }}img/staff/dw.jpg" alt="Daniel Wakenshaw"><span>Daniel Wakenshaw</span></li>
                                                <li><img alt="alt text" src="{{ STATIC_URL }}img/staff/rb.jpg" alt="Rebecca Bell"><span>Rebecca Bell</span></li>
                                                <li><img alt="alt text" src="{{ STATIC_URL }}img/staff/ij.jpg" alt="Iain Johnston"><span>Iain Johnston</span></li>
                                                <li><img alt="alt text" src="{{ STATIC_URL }}img/staff/rh.jpg" alt="Ross Hearnshaw"><span>Ross Hearnshaw</span></li>
                                           </ul>                                   
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="support-portrait">
                                            <ul>
                                                <li><img alt="alt text" src="{{ STATIC_URL }}img/staff/ah.jpg" alt="Adam Hogg"><span>Adam Hogg</span></li>
                                                <li><img alt="alt text" src="{{ STATIC_URL }}img/staff/ll.jpg" alt="Liz Lawson"><span>Liz Lawson</span></li>
                                                <li><img alt="alt text" src="{{ STATIC_URL }}img/staff/mk.jpg" alt="Marc Kirkwood"><span>Marc Kirkwood</span></li>
                                                
                                           </ul>                                   
                                    </div>
                                </div>
                            </div>                                
                    </div>
                        <a class="carousel-control left" href="#supportCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#supportCarousel" data-slide="next">&rsaquo;</a>
                </div>
</div></div>
</div>
 {% endblock %} 

