{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
<div class="enquiries">
  <div class="body" id="body">
    <div class="row">
      <h1>Accessibility</h1>
       <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
          <div class="box">
            <h2>{% placeholder "main_title" or %} {% endplaceholder %} </h2>
            {% placeholder "main_content" or %} {% endplaceholder %} 
          </div>
       </div>
    </div>        
  </div>
</div>
{% endblock %} 
