{% load cms_tags sekizai_tags %}
{% load menu_tags %}
{% cms_toolbar %}
{% load cms_tags %}

<!DOCTYPE html>
<html>
  <head>
  {% render_block "css" %}
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.png " />

    <title>{% page_attribute page_title %}</title>
    
    <meta name="description" content="{% page_attribute meta_description %}"/>
    <meta name="keywords" content="
pebble, my pebble, mypebble, talktopebble, talk to pebble, talk2pebble, talk 2 pebble, schoolfund, school fund, school fund finder, schoolfundfinder,fund, finder, fund school, fundschool, fund software,fund finder, school fund software, school fund finder, fundmanager, manager, fund manager, fund manager school, school fund manager, schoolfundmanager, software, school, schools, organisations, SFM, FM, FMv8, SFF, FF {% page_attribute meta_keywords %}"/>
        
        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]-->
            <script src="js/html5.js"></script>
            <![endif]-->

        <!-- Styles -->
         <!--[if ! lte IE 6]-->
        <link href="{{ STATIC_URL }}css/mypebble.css" rel="stylesheet"/>
        
        <link href="css/mypebble-print.css" rel="stylesheet" media="print"/>
        <![endif]-->
         <!--[if lte IE 6]-->
            <link rel="stylesheet" href="css/ie6.1.1.css" media="screen, projection">
            <![endif]-->
         <!--[if (gt IE 6) & (lt IE 9)]-->
            <style type="text/css">@import "css/mypebble-ie.css";</style>
            <![endif]-->


{# Google Analysis #}
	<script type="text/javascript">
		  var _gaq = _gaq || [];
 		 _gaq.push(['_setAccount', 'UA-32245156-1']);
  		_gaq.push(['_trackPageview']);

 	 (function() {
   		 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	})();
	</script>

{# FEEDBACK #}
		<script type="text/javascript" charset="utf-8">
			var is_ssl = ("https:" == document.location.protocol);
			var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
			document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript" charset="utf-8">
			var feedback_widget_options = {};
			feedback_widget_options.display = "overlay";
			feedback_widget_options.company = "pebble";
			feedback_widget_options.placement = "right";
			feedback_widget_options.color = "#555555";
			feedback_widget_options.style = "idea";
			var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
		</script>
<script type="text/javascript">
$(function() {

    function retrieve_api_items(url, context, content) {
        $.ajax({
            url: url,
            context: context,
            beforeSend: function() {
                $('.block-contents', this)
                .html(content['retrieving'] + '<span />');
                elipses_loader($('.block-contents span', this));
            },
            success: function(data) {
                $('.block-contents', this).text('');
                var items = $(data['items']);
                if(items.length) {
                    $('.block-contents', this).append($('<ul />').hide());
                    var ul = $('.block-contents ul', this);

                    $(items).each(function() {
                        ul.append(
                            $('<li />').append(
                                $('<a />', { href: this.link })
                                .text(this.title)
                            )
                        );
                    });

                    ul.fadeIn();

                    $('.block-footer', this).append(
                        $('<a />', { href: data.site_url })
                        .text(content['site_link_text'])
                        .hide()
                        .fadeIn()
                    );
                }
                else {
                    $('.block-contents', this).text(content['empty']);
                }
            },
            error: function() {
                $('.block-contents', this).text(content['error']);
            },
            global: false
        });
    }

    // retrieve FAQs
    retrieve_api_items(
        '/faq/',
        $('#faq-block'),
        {
            'retrieving': 'Retrieving questions',
            'site_link_text': 'See all Frequently Asked Questions',
            'empty': 'There are currently no questions.',
            'error': 'There was a problem retrieving the questions.'
        }
    );
    // retrieve blog posts
    retrieve_api_items(
        '/blog/',
        $('#news-block'),
        {
            'retrieving': 'Retrieving news stories',
            'site_link_text': 'See all News Stories',
            'empty': 'There are currently no news stories.',
            'error': 'There was a problem retrieving the news stories.'
        }
    );

});
</script>
</head>
<body>
    <div class="body" id="body">
{# Header #}
        <nav id="skiplinks">
            <ul>
                <li><a href="#body">Jump to Content</a></li>
                <li><a href="#nav">Jump to Navigation</a></li>
                <li><a href="#login">Jump to Login</a></li>
                <li><a href="#footer">Jump to Footer</a></li>
                <li><a href="/accessibility/">Accessibility Statement</a></li>
            </ul>
            <hr class="visuallyhidden"/>
        </nav>
        <div class="header">
            <div class="container">
                <div class="brand">
                    <a href="/home/"><img src="{{ STATIC_URL }}img/logo/logo-pebble.gif" alt="Pebble"/></a>
                </div>
                <div class="nav" id="nav">
				    <ul>
    					{% show_menu 0 100 100 100 %}
				    </ul>
                </div>
            </div><!--/.container-->
        </div><!--/.header--> 
        
{# BODY #}
        <div class="container">{% block primary %}{% endblock primary %}
        </div>
    </div>

{# FOOTER #}
    <div class="footer" id="footer">
            <div class="container">
                <h2 class="visuallyhidden">Footer</h2>
                <div class="column">
                    <h3>Products</h3>
                    <ul>
                        <li><a href="/fm/">Fund Manager</a></li>
                        <li><a href="/ff/">School Fund Finder</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="/support/fm/">Fund Manager</a></li>
                        <li><a href="/support/fm7/">School Fund Manager v7</a></li>
                        <li><a href="/support/ff/">School Fund Finder</a></li>
                        <!--<li><a href="/downloads">Downloadable resources</a></li>-->
                        <li><a href="https://getsatisfaction.com/pebble" target="_blank">Pebble Support Community</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>About us</h3>
                    <ul>
                        <li><a href="/about/">The Pebble Story</a></li>
                        <li><a href="/development/">Developers</a></li>
                        <li><a href="http://talktopebble.wordpress.com/" target="_blank">Blog</a></li>
			            <li><a href="/newsletter/">Newsletter</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Contact us</h3>
                    <div class="vcard">
                        <div class="fn org visuallyhidden">Pebble Ltd</div>
                        <address class="adr">
                            <div class="street-address">Media Exchange Three</div>
                            <div>Coquet Street</div>
                            <div class="locality">Newcastle upon Tyne</div>
                            <div class="postal-code">NE1 2QB</div>
                            <div class="country-name visuallyhidden">United Kingdom</div>
                        </address>
                        <div>We're Available: Mon - Fri | 8:30am - 5.30pm</div>
                        <div class="tel">
                            <span class="type">Sales</span>: <span class="value">0845 310 1788</span>
                        </div>
                        <div class="tel">
                            <span class="type">Support</span>: <span class="value">0845 310 1788</span>
                        </div>
                        <div class="tel">
                            <span class="type">Fax</span>: <span class="value">0845 310 1777</span>
                        </div>
                        <div class="email">
                            <a href="mailto:info@talktopebble.co.uk">info@talktopebble.co.uk</a>
                        </div>
                        <div class="email">
                            <a href="mailto:support@talktopebble.co.uk">support@talktopebble.co.uk</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h3>Connect with us</h3>
                    <ul>
                        <li><a href="https://twitter.com/#!/PebbleSFF" target="_blank">Follow us on Twitter</a></li>
                        <li><a href="https://www.facebook.com/pages/Pebble/217743878280547" target="_blank">Pebble on Facebook</a></li>
                    </ul>
                </div>
                <div class="nav-meta">
                    <ul>
                        <li>&copy; Pebble 2012</li>
                        <li><a href="/security/">Security</a></li>
                        <li><a href="/privacy/">Privacy</a></li>
                        <li><a href="/terms/">Terms</a></li>
                        <li><a href="/accessibility/">Accessibility</a></li>
                    </ul>
                </div>
                <div class="help">
                    <p><a href="/support/">We&rsquo;re on hand to <em>help!</em></a></p>
                </div>
         </div><!--/.container--> 
        
        <!-- Modals
            ================================================== -->
        
        <!-- Javascript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
          {% render_block "js" %}
        <script src="{{ STATIC_URL }}js/jquery-1.7.1.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/mypebble.js" type="text/javascript"></script>

  </body>
</html>
