{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
<div class="enquiries">
               <div class="row">
                   <h1>Blog</h1>
                    <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid2">
                            <div class="box-inner">
                                {% placeholder "content" or %}{% endplaceholder %}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.container-->    
        </div><!--/.body-->
 {% endblock %} 
