{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
<div class="enquiries">
               <div class="row">
                    <h1>Contact Us - Training Sessions</h1>
                    <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid2">
                            <div class="box-inner">
                                <p>To book a training session, please leave your details below. We’ll be in touch.</p>
                                <div class="form enquiries-form">
{% include "form_detail3.html" %}

                                        <p>We only use your details to provide the information you requested. <a href="/privacy/">Privacy policy</a></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid1 sidebar device"> <!-- Column. Modules inside will stack vertically -->
                        <div class="support supportbox onlinesupportbox box grid1">
                            <div class="box-inner">
                                <h2 class="title">We're available</h2>
                                <div class="description">
                                    <p>
                                        <i class="i icon-phone-white"></i> Tel: 0845 310 1788<br/>
                                        <i class="i icon-phone-white"></i> Fax: 0845 310 1777<br/>
                                        <i class="i icon-blank"></i> <small>Mon to Fri | 8:30am – 5:30pm</small><br/>
                                        <i class="i icon-email-white"></i> <a href="mailto:info@mypebble.co.uk">info@mypebble.co.uk</a><br/>
                                        <i class="i icon-email-white"></i> <a href="mailto:support@mypebble.co.uk">support@mypebble.co.uk</a><br/>
                                        <i class="i icon-twitter-white"></i> <a href="https://twitter.com/pebblesff" target="_blank">@PebbleSFF</a><br/>
                                    </p>
                                    <div class="vcard">
                                        <div class="fn org"><strong>PEBBLE</strong></div>
                                        <div class="adr">
                                            <div class="street-address">Media Exchange 3</div>
                                            <div>Coquet Street</div>
                                            <div class="locality">Newcastle upon Tyne</div>
                                            <div class="postal-code">NE1 2QB</div>
                                            <div class="country-name visuallyhidden">United Kingdom</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="supportcommunitybox grid1">
                            <div class="box-inner">
                                <div class="description">
                                
                                <img src="{{ STATIC_URL }}img/fm/fm_training_ses.png" alt="#"/>
                                </div>
                            </div>
                        </div>
                </div>
                
            </div><!--/.container-->    
        </div><!--/.body-->
 {% endblock %} 
