{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
<div class="enquiries">
               <div class="row">
                   <h1>Contact Us</h1>
                    <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid2">
                            <div class="box-inner">
                             
                                <p>To find out more, or to book an online demonstration, please leave your details below. We’ll be in touch.</p>
                                <div class="form enquiries-form">
{% include "form_detail.html" %}

                                        <p>We only use your details to provide the information you requested. <a href="/privacy/">Privacy policy</a></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid1 sidebar device"> <!-- Column. Modules inside will stack vertically -->
                        <div class="support supportbox onlinesupportbox box grid1">
                            <div class="box-inner">
                                <h2 class="title">We're available</h2>
                                <div class="description">
                                    <p>
                                        <i class="i icon-phone-white"></i> Tel: 0845 310 1788<br/>
                                        <i class="i icon-phone-white"></i> Fax: 0845 310 1777<br/>
                                        <i class="i icon-blank"></i> <small>Mon to Fri | 8:30am – 5:30pm</small><br/>
                                        <i class="i icon-email-white"></i> <a href="mailto:info@talktopebble.co.uk">info@talktopebble.co.uk</a><br/>
                                        <i class="i icon-email-white"></i> <a href="mailto:support@talktopebble.co.uk">support@talktopebble.co.uk</a><br/>
                                        <i class="i icon-twitter-white"></i> <a href="https://twitter.com/pebblesff" target="_blank">@PebbleSFF</a><br/>
                                    </p>
                                    <div class="vcard">
                                        <div class="fn org"><strong>Pebble Ltd</strong></div>
                                        <div class="adr">
                                            <div class="street-address">Media Exchange Three</div>
                                            <div>Coquet Street</div>
                                            <div class="locality">Newcastle upon Tyne</div>
                                            <div class="postal-code">NE1 2QB</div>
                                            <div class="country-name visuallyhidden">United Kingdom</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="supportcommunitybox box grid1">
                            <div class="box-inner">
                                <h2 class="title">Download a brochure</h2>
                                <div class="description">
                                    <a href="{{ MEDIA_URL }}brochures/FM_brochure.pdf" title="Fund Manager brochure">
                                        <img class="box-img" src="{{ STATIC_URL }}img/fm/fm_40x60.png" alt="Fund Manager brochure"/></a>
                                    <h3>Fund Manager</h3>
                                    <p>Keep track of every penny.
                                    <a href="{{ MEDIA_URL }}brochures/FM_brochure.pdf" title="Fund Manager brochure">Download PDF</a></p>
                                    
                                    <a href="{{ MEDIA_URL }}brochures/SFF_brochure.pdf" title="School Fund Finder brochure">
                                        <img class="box-img" src="{{ STATIC_URL }}img/sff/sff_40x60.png" alt="School Fund Manager brochure"/></a>
                                    <h3>School Fund Finder</h3>
                                        <p>Grants for UK schools made easy.                                     <a href="{{ MEDIA_URL }}brochures/SFF_brochure.pdf" title="School Fund Finder brochure">Download PDF</a></p>
                                </div>
                            </div>
                        </div>
                </div>
            </div><!--/.container-->    
        </div><!--/.body-->
 {% endblock %} 
