{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}

<div class="home">
    <div class="row titlerow">
        <h1 class="title">
            {% placeholder "strapline" or %}{% endplaceholder %}
        </h1>
    </div>
    <div class="row ">
        <div class="grid3">
        <div class="box hero">
            <div class="text">
                <div class="image">{% placeholder "hero_image" or %}{% endplaceholder %}
                </div>
                <h2 class="title">{% placeholder "hero" or %} {% endplaceholder %}</h2>
                <div class="decription">
                    <p>{% placeholder "hero_p" or %}{% endplaceholder %}</p>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="box grid1 fm">
            <div class="box-inner">
                <h2 class="title"><a href="/fm/">Fund Manager</a></h2>
                    <div class="description">
                        <p>From payments to period-end, keep track of every penny with our cloud based <strong>Fund Manager.</strong></p>
                    </div>
                    <div class="footerimage">
                        <a href="/fm/"><img alt="Fund Manager Dashboard" src="{{ STATIC_URL }}img/fm/fm_screen.png"/></a>
                     </div>
            </div>
        </div>
        <div class="box grid1 sff">
            <div class="box-inner">
                <h2 class="title"><a href="/sff/">School Fund Finder</a></h2>
                    <div class="description">
                        <p>All the funding information and bid writing support you need to achieve your fundraising objectives with <strong>School Fund Finder.</strong>

</p>
                    </div>
                        <div class="footerimage">
                            <a href="/sff/"><img alt="Scholl Fund Finder Dashboard" src="{{ STATIC_URL }}img/sff/sff_screen.png"/></a>
                        </div>
                   </div>
            </div>
        <div class="grid1 device supportbanner">
            <div class="box support">
                <div class="box-inner">
                    <h2 class="title"> <a href="/support/">Support</a></h2>
                        <div class="description">
                            <p>Always here to help, we are proud of our unrivalled customer  <strong>support.</strong></p>
                        </div>
                </div>
            </div>
        </div>


         <div class="grid1 device supportbanner extras">
            <div class="box ">
                <div class="box-inner">
                        <div class="description">
                            {% placeholder "home_video" or%}{% endplaceholder %}
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row extras">
        {% placeholder "Feedback" or %}
        <div class="box">
                <h2 class="title">Here’s what our customers have to say…</h2>
                    <div class="row">
                                                    <div class="row">
                                <div class="grid1 testimonial">
                                    <blockquote>
                                        <p>Whenever I call, Pebble are always very helpful and friendly. Any issue is also always resolved first time.</p>
                                        <small>Shelley Pointon, Financial Administrator, St Joseph’s Catholic Primary School</small>
                                    </blockquote>
                                </div>
                                <div class="grid1 testimonial quote">
                                    <blockquote>
                                        <p>Pebble software is straightforward to use and the online help is excellent. All in all I consider myself a satisfied customer.</p>
                                        <small>Beryl, Windsor Boy's School</small>
                                    </blockquote>
                                </div>
                                <div class="grid1 testimonial blog">
                                    <blockquote>
                                        <p>Pebble is my security blanket and always what I turn to when I feel the need to have achieved something in the course of a frantic day.</p>
                                        <small>Sheila Cooper, School Business Manager, Holy Cross Catholic High School</small>
                                    </blockquote>
                                </div>
                            </div>
        </div>
    </div>
  </div>{% endplaceholder %}
                <div class="row">
             <div class="grid2 box hp">
                            <div class="box-inner">
                <h2 class="title"><a href="/about/">The Pebble Story</a></h2>
                <div class="description">
                    <p>Find out more about us and meet the team.</p>
                </div>
               </div>
               </div> 
                <div class="grid1 box">
                    <div id="mc_embed_signup">
                        <h3>Keep in touch…</h3>
                            <form action="http://talktopebble.us5.list-manage2.com/subscribe/post?u=1c8b9f93d89b4f1e6ddd27ff2&amp;id=8e37535111" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	                                <label for="pin">Sign up for the latest finance & fundraising news delivered to your inbox every month.</label>
	                                <input type="email" value="" name="EMAIL" class="hpform charfield pin" id="mce-EMAIL" placeholder="email address" required>
	
	                                <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="btn">
                                </form>
                           </div>
                </div>
    <div class="social grid1 box">
        <h3>Connect with us</h3>
            <ul>
                <li><a href="https://twitter.com/pebblesff" target="_blank"><img src="{{ STATIC_URL }}img/tw.png" alt="Pebble on Twitter @PebbleSFF"></a></li>
                <li><a href="https://www.facebook.com/pages/Pebble/217743878280547" target="_blank"><img src="{{ STATIC_URL }}img/fb.png" alt="Pebble on Facebook"></a></li>
                <li><a href="http://talktopebble.wordpress.com/" taget="_blank"><img src="{{ STATIC_URL }}img/wp.png" alt="Pebble on Wordpress"></a></li>
            </ul>  
      
    </div>
  </div>
 
</div>
 {% endblock %}
