{% extends "base.html" %}
{% load cms_tags %}
{% load testimonials %}
{% block primary %}
<div class="home">
    <div class="row ">
        <div class="grid3">
          <div class="box hero">
              <div class="text">
                  <h1 class="title">Helping schools to find and manage funds since 1992</h1>
                  <p>
                  Voluntary fund management for schools and community groups. Commited to our customers we really care about you and will even help you find and secure grants.
                  </p>
              </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="box grid1 fm">
                <h2 class="title"><a href="/fm/">Fund Manager</a></h2>
                    <div class="description">
                        <p>From payments to period-end, keep track of every penny with our cloud based <strong>Fund Manager.</strong></p>
                       <!-- <a class="btn btn-calltoaction pull-right" href="/fm/">
                        Learn More
                        <i class="i icon-arrow-r-white"></i>
                        </a>-->
                    </div>
                    <div class="device-hide">
                      <a href="/fm/"><img alt="Fund Manager Dashboard" src="{{ STATIC_URL }}img/fm_homepage.png"/></a>
                   </div>
                    <div class="features col">
                      <ul>
                        <li>
                            Income & Expenditure
                        </li>
                        <li>
                            Create Reports & Audit
                        </li>
                        <li>
                            Dinner Money & Clubs
                        </li>
                      </ul>
                      </div>
                      <div class="features col">
                      <ul>
                        <li>
                            Banking & Reconciliation
                        </li>
                        <li>
                            Online Payments
                        </li>
                        <li>
                            SMS Messaging
                        </li>
                      </ul>
                    </div>
        </div>
        <div class="box grid1 sff">
                <h2 class="title"><a href="/sff/">School Fund Finder</a></h2>
                    <div class="description">
                        <p>All the funding information and bid writing support you need to achieve your fundraising objectives with 
                          <strong>School Fund Finder.</strong>
                        </p>
                    </div>
                        <div class="device-hide">
                            <a href="/sff/"><img alt="School Fund Finder Dashboard" src="{{ STATIC_URL }}img/sff_homepage.png"/></a>
                        </div>
                     <div class="features col">
                      <ul>
                        <li>
                            Find Grants
                        </li>
                        <li>
                            Save Time
                        </li>
                        <li>
                            Develop Skills
                        </li>
                      </ul>
                      </div>
                      <div class="features col">
                      <ul>
                        <li>
                            Get Advice
                        </li>
                        <li>
                            Keep Informed
                        </li>
                        <li>
                            Training Days
                        </li>
                      </ul>
                    </div>
                   </div>
      </div>
    <div class="row device-hide">
    {% testimonials %}
    </div>
    <div class="row">
      <div class="grid2">
        <div class="box alternative story">
              <h2 class="title">
                <a href="/about/">The Pebble Story</a>
              </h2>
              <div class="description">
                <p>Find out more about Pebble and meet the team</p>
                <a class="btn btn-calltoaction pull-right" href="/about/">
                  Read Story
                  <i class="i icon-arrow-r-white"></i>
                </a>
              </div>
          </div>
    </div>
      <!--<div class="social grid1 box pull-right">
      <h3>Connect with us</h3>
        <ul>
          <li><a href="https://twitter.com/pebblesff" target="_blank"><img src="{{ STATIC_URL }}img/tw.png" alt="Pebble on Twitter @PebbleSFF"></a></li>
          <li><a href="https://www.facebook.com/pages/Pebble/217743878280547" target="_blank"><img src="{{ STATIC_URL }}img/fb.png" alt="Pebble on Facebook"></a></li>
        </ul>  
      </div>  -->
    </div>
</div>
 {% endblock %}
