{% load activelink %}
<ul>
    <li class="{% ifactive "/home/" %}active{% else %}off{% endifactive %}" ><a href="/home/" >Home</a></li>
    <li class="{% ifactive "/fm/" %}fm active{% else %}off{% endifactive %}"><a href="/fm/">Fund Manager </a></li>
    <li class="{% ifactive "/ff/" %}sff active{% else %}off{% endifactive %}"><a href="/ff/" >School Fund Finder</a></li>
    <li class="{% ifactive "/support/" %}support active{% else %}off{% endifactive %}"><a href="/support/" >Support</a></li>
    <li class="{% ifactive "/enquiries/" %}active{% else %}off{% endifactive %}"><a href="/enquiries/" >Enquiries </a></li>
</ul>
