{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
<div class="enquiries">
  <div class="body" id="body">
    <div class="row">
    <h1>Privacy & Security Policy</h1>
      <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
        <div class="box">
        <p>
        This Privacy Policy provides our policies and procedures for collecting, using, and disclosing your information.Users can access the Fund Manager service 
        (the <strong>“Service”</strong>) through our website mypebble.co.uk, applications on Devices, through APIs, and through third-parties. A <strong>“Device”</strong> 
        is any computer used to access the Fund Manager Service, including without limitation a desktop, laptop, mobile phone, tablet, or other consumer electronic device. 
        This Privacy Policy governs your access of the Fund Manager Service, regardless of how you access it,
        and by using our Services you consent to the collection, transfer, processing, storage, disclosure and other uses described in this Privacy Policy. All of the 
        different forms of data, content, and information described below are collectively referred to as “information.”</p>
        <p>Pebble is committed to ensuring that your privacy is protected. Should we ask you to provide certain
        information by which you can be identified when using this website, you can be assured that it will only be used
        in accordance with this privacy statement.</p>
        <p>Pebble may change this policy from time to time by updating this page. You should check this page from time to
        time to ensure that you are happy with any changes. This policy is effective from 1st January 2013.
        </p>
      <h3>What we collect</h3>
        <p>We collect the following information:</p>
          <ul class="bullet">
            <li>name and job title</li>
            <li>contact information including postal address, email address and billing information</li>
            <li>other information relevant to customer surveys and/or offers</li>
          </ul>
        <h3>Files</h3>
        <p>We store the files you upload, download, or access with the Fund Manager Service . You may upload data from
        your MIS system for use in Fund Manager. You acknowledge you have the appropriate permissions and
        processes to transfer this data from your MIS system to Fund Manager.
        </p>
      <h3>Log Data</h3>
        <p>When you use the Service, we automatically record information from your Device, its software, and your activity
        using the Services. This may include the Device’s Internet Protocol (“IP”) address, browser type, the web page
        visited before you came to our website, information you search for on our website, locale preferences,
        identification numbers associated with your Devices, your mobile carrier, date and time stamps associated with
        transactions, system configuration information, metadata concerning your Files, and other interactions with the
        Service.
        </p>
      <h3>What we do with the information we gather</h3>
        <p>We require this information to understand your needs and provide you with a better service, and in particular
        for the following reasons:
        </p>
        <ul class="bullet">
          <li>Internal record keeping.</li>
          <li>We may use the information to improve our products and services.</li>
          <li>We may periodically send promotional emails about new products, special offers or other information
          which we think you may find interesting using the email address which you have provided.
          </li>
          <li>From time to time, we may also use your information to contact you for market research purposes. We
          may contact you by email, phone, fax or mail. We may use the information to customise the website
          according to your interests.</li>
        </ul>
      <h3>Security</h3>
        <p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or
        disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure
        the information we collect online.
        </p>
      <h3>How we use cookies</h3>
        <p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the
        file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies
        allow web applications to respond to you as an individual. The web application can tailor its operations to your
        needs, likes and dislikes by gathering and remembering information about your preferences.
        We use login cookies to identify you when you login. We may use traffic log cookies to identify which pages are
        being used. This helps us analyse data about web page traffic and improve our website in order to tailor it to
        customer needs. We only use this information for statistical analysis purposes and then the data is removed
        from the system.</p><p>
        Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find
        useful and which you do not. A cookie in no way gives us access to your computer or any information about you,
        other than the data you choose to share with us.
        You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can
        usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full
        advantage of the website.
        </p>
      <h3>Links to other websites</h3>
        <p>Our website may contain links to other websites of interest. However, once you have used these links to leave
        our site, you should note that we do not have any control over that other website. Therefore, we cannot be
        responsible for the protection and privacy of any information which you provide whilst visiting such sites and
        such sites are not governed by this privacy statement. You should exercise caution and look at the privacy
        statement applicable to the website in question.
        </p>
      <h3>Controlling your personal information</h3>
        <p>You may choose to restrict the collection or use of your personal information in the following ways:
        </p>
        <ul class="bullet">
          <li>whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you
          do not want the information to be used by anybody for direct marketing purposes
          </li>
          <li>if you have previously agreed to us using your personal information for direct marketing purposes, you may
          change your mind at any time by writing to or emailing us at privacy@talktopebble.co.uk
          </li>
        </ul>
        <p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or
        are required by law to do so. We may use your personal information to send you promotional information
        about third parties which we think you may find interesting if you tell us that you wish this to happen.
        You may request details of personal information which we hold about you under the Data Protection Act 1998.
        A small fee will be payable. If you would like a copy of the information held on you please write to Customer
        Services, Data Section, Pebble, Media Exchange Three, Coquet Street, Newcastle upon Tyne, NE1 2QB.</p><p>
        If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us
        as soon as possible, at the above address. We will promptly correct any information found to be incorrect.
        </p>
      <h3>Fund Manager Community</h3>
        <p>Our Service offers publicly accessible community services such as blogs, forums, and wikis. You should be
        aware that any information you provide in these areas may be read, collected, and used by others who access
        them. Your posts may remain even after you cancel your account.
        </p>
      <h3>Data Retention</h3>
        <p>We will retain your information for as long as your account is active or as needed to provide you services. If you
        wish to cancel your account or request that we no longer use your information to provide you services, you may
        advise us in writing. We may retain and use your information as necessary to comply with our legal obligations,
        resolve disputes, and enforce our agreements. Consistent with these requirements, we will try to delete your
        information quickly upon request. Please note, however, that there might be latency in deleting information
        from our servers and backed-up versions might exist after deletion.
        </p>
      <h3>Service Providers, Business Partners and Others</h3>
        <p>We may use certain trusted third party companies and individuals to help us provide, analyze, and improve the
        Service (including but not limited to data storage, maintenance services, database management, web analytics,
        payment processing, and improvement of the Service’s features). These third parties may have access to your
        information only for purposes of performing these tasks on our behalf and under obligations similar to those in
        this Privacy Policy. As of the date this policy went into effect, we use RapidSwitch storage service to store some
        of your information (for example, your Files). You can find more information on RapidSwitch data security from
        the following site <a href="www.RapidSwitch.co.uk" target="_blank">RapidSwitch</a>.</p>
        <h3>Compliance with Laws and Law Enforcement Requests; Protection of Fund Manager's Rights</h3>
        <p>We may disclose to parties outside files stored in your Fund Manager and information about you that we collect
        when we reasonably believe that disclosure is reasonably necessary to</p>
        <ul>
          <li>(a) comply with a law, regulation or compulsory legal request;</li>
          <li>(b) protect the safety of any person from death or serious bodily injury;</li>
          <li>(c) prevent fraud or abuse of Fund Manager or its users; or</li>
          <li>(d) to protect Fund Manager’s property rights.</li>
        </ul>
        <p>If we provide your Fund Manager files to a law enforcement agency as set forth above, we will remove Fund
        Manager’s encryption from the files before providing them to law enforcement. However, Fund Manager will
        not be able to decrypt any files that you encrypted prior to storing them on Fund Manager.
        </p>
      <h3>Contacting Us</h3>
        <p>If you have any questions about this Privacy Policy, please contact us at <a href="mailto:privacy@talktopebble.co.uk">privacy@talktopebble.co.uk</a> or at
        Customer Services, Media Exchange Three, Coquet Street, Newcastle upon Tyne, NE1 2QB.</p>
      </div>
  </div>
    <div class="grid1 sidebar device-hide"> <!-- Column. Modules inside will stack vertically -->
      <img src="{{ STATIC_URL }}img/security.png" alt="myPebble security policy">
    </div>        
</div>
{% endblock %} 
