{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
<div class="enquiries">
    <div class="body" id="body">
        <div class="row">
            <h1>Privacy</h1>
                <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                    <div class="box grid2">
                        <div class="box-inner">
                            <p>Registering with us allows you to take advantage of all our unique services as a SF Software Ltd registered user, including reports on critical developments affecting the world of nonprofits, stories on Internet technology for nonprofits from leading consultants in the field, best practices in technology for nonprofits, tips and strategies from your peers in nonprofits on how to get the most out of technology, and announcements of new SF Software Ltd releases.</p>
<p>SF Software Ltd has created this Privacy Policy to explain why we collect particular information and how we will protect your personal privacy within our website. The following discloses our information gathering and dissemination practices for the website located at the URL <a href="www.mypebble.co.uk" target="_blank"> www.mypebble.co.uk</a>, <a href="www.talktopebble.co.uk" target="_blank">www.talktopebble.co.uk</a>, <a href="www.schoolfund.co.uk"  target="_blank">www.schoolfund.co.uk</a>, <a href="www.schoolfundfinder.co.uk" target="_blank">www.schoolfundfinder.co.uk</a> and any other site provided by SF Software Ltd (collectively, the "Site").</p>
<p>In order to fully understand your rights we encourage you to read this Privacy Policy. SF Software Ltd reserves the right at any time and without notice to change this Privacy Policy simply by posting such change on our Site. Any such change will be effective immediately upon posting.</p>
<p>Because we want to demonstrate our commitment to your privacy, this Privacy Policy notifies you of:</p>
<ol>
<li>What personally identifiable information of yours is collected through the Site;</li>
<li>Who collects such information;</li>
<li>How such information is used;</li>
<li>With whom your information may be shared;</li>
<li>What choices you have regarding collection, use and distribution of your information;</li>
<li>What kind of security procedures are in place to protect the loss, misuse or alteration of information under our control;</li>
<li>and, How you can correct any inaccuracies in your information.</li>
</ol>
<p>Questions regarding this statement should be directed to SF Software Ltd by sending an email to <a href="mailto:info@mypebble.co.uk">info@mypebble.co.uk</a>. Please reference this Privacy Policy in your subject line.</p>
<h3>What Information We Collect and How We Use That Information</h3>
<p>Our registration forms require users to give us contact information that may include name, email address, format preference (HTML vs. Text), address, interests, and similar information. We do not request or store sensitive information from our visitors such as credit card or social security numbers. We use customer contact information from the registration forms to send the user requested information about our company. We never sell, share or trade any of our customer information with other companies.</p>
<h3>Contact and Profile Information</h3>
<p>SF Software Ltd is the sole owner of the information collected on the Site. This Site does not collect personally identifying information about users except when you specifically and knowingly provide it.</p>
<p>For example, we collect information from you in the following ways:</p>
<ul class="bullet">
<li>Some areas of our Site request or require contact and other information.</li>
<li>During the registration process, we collect personal and other information such as your
name, address, and email address.</li>
<li>Demographic and profile data (e.g., age, gender and income level) may also be collected at our Site. We use such data to improve our marketing and promotional efforts, to statistically analyze site usage, to improve our content and product offerings and to customize our site's
content, layout, and services.
</li>
</ul>
<p>Additionally, this data may be shared with advertisers or other third parties solely on an aggregated basis. We do not share any personally
identifying information with any third party without your consent, except to a court or governmental agency if required by law.</p>
<h3>Internet Protocol Address</h3>
<p>We collect an IP address from all visitors to our Site. An IP address is a number that is automatically assigned to your computer when you use the Internet. We use IP addresses to help diagnose problems with our server, administer our Site, analyze trends, track users' movement, gather broad demographic information for aggregate use in order for us to improve the Site, and deliver customized, personalized content. IP addresses are not linked to personally identifiable information.</p>

<p><strong>Information from Children</strong></p>
<p>Our Site is for adults and usage by children is not intended. We make efforts to verify the age of our
users in order to avoid collecting personal information from children, and do not seek to collect
personal information about children through our Site. If a child submits information to us through
any part of our Site, and we know that the user submitting the information is a child, we delete the
information as soon as we discover it and do not use it for any purpose, nor do we disclose it to third
parties.</p>

<h3>Use of "Cookies"</h3>
<p>Our Site may use cookies to enhance your experience while using our Site. Cookies are pieces of
information that some websites transfer to the computer that is browsing that website and are used
for record-keeping purposes at many websites. Use of cookies makes web surfing easier by
performing certain functions such as saving your passwords, your personal preferences regarding
your use of the particular website and to make sure you don't see the same ad repeatedly. Many
consider the use of cookies to be an industry standard.</p>
<p>Your browser is probably set to accept cookies. However, if you would prefer not to receive cookies,
you can alter the configuration of your browser to refuse cookies. If you choose to have your browser
refuse cookies, it is possible that some areas of our Site will not function properly when you view
them.</p>
<h3>Security</h3>
<p>All information provided to SF Software Ltd is transmitted using SSL (Secure Socket Layer)
encryption. SSL is a proven coding system that lets your browser automatically encrypt, or scramble,
data before you send it to us. We also protect account information by placing it on a secure portion of
our Site that is only accessible by certain qualified employees of SF Software Ltd. Unfortunately,
however, no data transmission over the Internet is 100% secure. While we strive to protect your
information, we cannot ensure or warrant the security of such information.</p>

<h3>Choice/Opt-Out</h3>
<p>SF Software Ltd provides users with the opportunity to opt-out of receiving communications from us
at any time. SF Software Ltd gives users the following options for removing their information from
our database to not receive future communications.</p>
<ul class="bullet">
<li>You can email us at info@talktopebble.co.uk</li>
<li>You can click on the "Unsubscribe" link included at the bottom of your newsletter and follow
the instructions. Our unsubscribe requests are processed immediately.</li>
</ul>
<h3>Correct/Update</h3>
<p>SF Software Ltd gives you the following options for changing and
modifying information previously provided. Upon your request, we
will also remove any other personally identifying information we
may retain from our databases. To make any such changes or
requests: Email us at info@talktopebble.co.uk</p>
<p>Additional residual information may remain in our archives and records, but this information will not
be used for any commercial purpose. We reserve the right to maintain information on users who
have violated our Terms of Use or who have had their access to our Site blocked.</p>
<h3>Tell-A-Friend & Email this Page Services</h3>
<p>If a user elects to use our referral service for informing a friend about our Site, we ask them for the
friend's name and email address. SF Software Ltd will automatically send the friend a one-time
email inviting them to visit the Site. SF Software Ltd stores this information for the sole purpose of
sending this one-time email. The friend may contact SF Software Ltd at info@talktopebble.co.uk to
request the removal of this information from our database.</p>
<h3>Surveys</h3>
<p>We may conduct occasional online surveys via our website or via an email newsletter. These surveys
are entirely voluntary and you may easily decline to participate. Participating in an online survey does
not automatically add your name to the subscriber list for the SF Software newsletters.</p>
<p><strong>Other Websites</strong><p>
<p>Our Site contains links to other websites. Please note that when you click on one of these links, you
are entering another website for which SF Software Ltd has no responsibility. We encourage you to
read the privacy statements on all such sites as their policies may be different than ours.</p>
<h3>Contacting the Website</h3>
<p>If you have any questions about this Privacy Policy, the practices of this Site, or your dealings with
this Site, you can contact:</p>
<p>Mailing Address:</p>
<p>Media Exchange Three<br/>
Coquet Street<br/>
Newcastle upon Tyne<br/>
Tyne and Wear<br/>
NE1 2QB<br/>
UK</p>
<p>+44 (0) 845 310 1788<br/>
You can also send an email to <a href="mailto:info@mypebble.co.uk">info@mypebble.co.uk</a></p>
                        </div>
                    </div> 
                </div>
                    <div class="grid1 sidebar partners"> <!-- Column. Modules inside will stack vertically -->
                        <div class="supportcommunitybox grid1">
                            <div class="box-inner">
                               <img src="{{ STATIC_URL }}img/security.png" alt="myPebble security policy">

                </div>
            </div>
        </div>
    </div>        
</div>
{% endblock %} 
