{% extends "base.html" %}
{% load cms_tags %}
{% page_attribute "meta_decription" %}
{% page_attribute "meta_keywords" %}
{% block primary %}
<div class="producthome fm"> 
    <div class="body" id="body">
        <div class="row titlerow">
            <h1 class="title "><img class="logo" src="{{ STATIC_URL }}img/logo/fm_logo.png" alt="Fund Manager"/>{% placeholder "strapline" or %} {% endplaceholder %}</h1> 
          <div class="logmein">
                    <a class="btn loginbtn" href="https://apps.talktopebble.co.uk/login/?next=/" target="_blank">Log in</a>
                </div>
                </div>
                <div class="row">
                    <div class="box grid3 hero tabbed carousel slide" id="productCarousel">
                        <div class="tabs">
                            <ul>
                                <li class="active-tab"><a href="#item1">Overview</a></li>
                                <li><a href="#item2">Receipts Payments</a></li>
                                <li><a href="#item3">Transaction History</a></li>
                                <li><a href="#item4">Graphic Reports</a></li>
                                <li><a href="#item5">Names Database</a></li>
                                <li><a href="#item6">Pebble Register <span class="callout extras">Catering</span></a></li>
                                <li><a href="#item7">Pebble Offers <span class="callout extras">Parents</span></a></li>
                            </ul>
                        </div>
                        <div class="carousel-inner">
                            <div class="active item" id="item1">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_dashboard.png" alt="Fund Manager Dashboard"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Make keeping track of voluntary funds simplicity itself</h2>
                                    <div class="description">
                                        <p>Fund Manager is an accountancy package dedicated to managing voluntary funds. Used and trusted by over 00,000 schools and other organisations since 199x</p>
                                        <h3>Key benefits</h3>
                                        <ul>
                                            <li>Manage year-end procedures painlessly</li>
                                            <li>Create a fully transparent audit trail</li>
                                            <li>Cloud-based software – nothing to install</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item2">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_receipt.png" alt="Receipts and Payments"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Receipts  Payments</h2>
                                    <div class="description">
                                        <p>Fund Manager is an accountancy package dedicated to managing voluntary funds. Used and trusted by over 00,000 schools and other organisations since 199x</p>
                                        <h3>Key benefits</h3>
                                        <ul>
                                            <li>Manage year-end procedures painlessly</li>
                                            <li>Create a fully transparent audit trail</li>
                                            <li>Cloud-based software – nothing to install</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item3">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_transaction.png" alt="View all transactions"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Transactional History</h2>
                                    <div class="description">
                                        <p>Fund Manager is an accountancy package dedicated to managing voluntary funds. Used and trusted by over 00,000 schools and other organisations since 199x</p>
                                        <h3>Key benefits</h3>
                                        <ul>
                                            <li>Manage year-end procedures painlessly</li>
                                            <li>Create a fully transparent audit trail</li>
                                            <li>Cloud-based software – nothing to install</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item4">
                                <div class="image">
                                    <img src="img/300x305.gif" alt="Screenshot"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Graphic Reports</h2>
                                    <div class="description">
                                        <p>Fund Manager is an accountancy package dedicated to managing voluntary funds. Used and trusted by over 00,000 schools and other organisations since 199x</p>
                                        <h3>Key benefits</h3>
                                        <ul>
                                            <li>Manage year-end procedures painlessly</li>
                                            <li>Create a fully transparent audit trail</li>
                                            <li>Cloud-based software – nothing to install</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item5">
                                <div class="image">
                                    <img src="img/300x305.gif" alt="Screenshot"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Names Database</h2>
                                    <div class="description">
                                        <p>Fund Manager is an accountancy package dedicated to managing voluntary funds. Used and trusted by over 00,000 schools and other organisations since 199x</p>
                                        <h3>Key benefits</h3>
                                        <ul>
                                            <li>Manage year-end procedures painlessly</li>
                                            <li>Create a fully transparent audit trail</li>
                                            <li>Cloud-based software – nothing to install</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item6">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_registerapp.png" alt="Screenshot"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Pebble Register</h2>
                                    <div class="description">
                                        <p>Fund Manager is an accountancy package dedicated to managing voluntary funds. Used and trusted by over 00,000 schools and other organisations since 199x</p>
                                        <h3>Key benefits</h3>
                                        <ul>
                                            <li>Manage year-end procedures painlessly</li>
                                            <li>Create a fully transparent audit trail</li>
                                            <li>Cloud-based software – nothing to install</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item7">
                                <div class="image">
                                    <img src="img/300x305.gif" alt="Screenshot"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Pebble Offers</h2>
                                    <div class="description">
                                        <p>Fund Manager is an accountancy package dedicated to managing voluntary funds. Used and trusted by over 00,000 schools and other organisations since 199x</p>
                                        <h3>Key benefits</h3>
                                        <ul>
                                            <li>Manage year-end procedures painlessly</li>
                                            <li>Create a fully transparent audit trail</li>
                                            <li>Cloud-based software – nothing to install</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control left" href="#productCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#productCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid2 calltoaction">
                            <div class="box-inner">
                                <h2 class="title">Get a free quotation</h2>
                                <div class="description">
                                    <p>Transform your accounting from only £99 per month</p>
                                    <p><small><a href="#">Upgrading from a previous version?</a></small></p>
                                    <a class="btn btn-large btn-calltoaction">Talk to us <i class="i icon-arrow-r-white"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid1 sidebar extras"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid1">
                            <div class="box-inner">
                                <h2 class="title">Advice and support</h2>
                                <div class="description">
                                    <p>Got a question or need help? Our <a href="/support/">Support</a> section has got you covered</p>
                                    <p><small><strong>Using an older version of Fund Manager?</strong> <a href="/fm/upgrade/">Upgrade now to get all the benefits</a> <a class="callout" href="/fm/upgrade/">Upgrade now</a></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box">
                       
                            <h2 class="title">Fund Manager for&hellip;</h2>
                            <div class="row">
                                <div class="grid1 testimonial">
                                    <h3 class="testimonialtitle">Primary schools</h3>
                                    <blockquote>
                                        <p>TEST Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                        <small>Name, occupation, organisation</small>
                                    </blockquote>
                                    <p><a href="#">Read the case study</a></p>
                                </div>
                                <div class="grid1 testimonial quote">
                                    <h3 class="testimonialtitle">Secondary schools</h3>
                                    <blockquote>
                                        <p>TEST2 Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                        <small>Name, occupation, organisation</small>
                                    </blockquote>
                                </div>
                                <div class="grid1 testimonial blog">
                                    <h3 class="testimonialtitle">Parents</h3>
                                    <blockquote>
                                        <p>Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                        <small>Name, occupation, organisation</small>
                                    </blockquote>
                                </div>
                            </div>
                        <div class="row blog">
                            <div class="grid1 testimonial ">
                                <h3 class="testimonialtitle">PTAs</h3>
                                <blockquote>
                                    <p>Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                    <small>Name, occupation, organisation</small>
                                </blockquote>
                            </div>
                            <div class="grid1 testimonial">
                                <h3 class="testimonialtitle">Sports clubs</h3>
                                <blockquote>
                                    <p>Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                    <small>Name, occupation, organisation</small>
                                </blockquote>
                            </div>
                            <div class="grid1 testimonial">
                                <h3 class="testimonialtitle">Churches</h3>
                                <blockquote>
                                    <p>Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                    <small>Name, occupation, organisation</small>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box calltoaction-secondary recommend-promo">
                        <div class="box-inner">
                            <h2 class="title">Recommend Fund Manager</h2>
                            <div class="description">
                                <div class="blog">
                                <p>Wish your school, your child's school, or a voluntary organisation you belong to, used Fund Manager? Let us help you make the case!</p>
                                </div>
                                <form action="/recommend/" method="post" id="recommend-form-fm" class="form-inline">
                                    <label for="target">Help me convince:</label>
                                    <select id="target">
                                        <option value="audience1" selected>My bursar</option>
                                        <option value="audience2">Audience2</option>
                                        <option value="audience3">Audience3</option>
                                        <option value="audience4">Audience4</option>
                                        <option value="audience5">Audience5</option>
                                    </select>
                                    <input type="submit" value="Make the case" class="btn"/>
                                </form>
                            </div>
                        </div>
                    </div>
            </div><!--/.container-->    
        </div><!--/.body-->   
      {% endblock %} 
      </div>
