{% extends "base.html" %}
{% load cms_tags %}
{% page_attribute "meta_decription" %}
{% page_attribute "meta_keywords" %}
{% block primary %}
<div class="producthome fm"> 
        <div class="row titlerow">
            <h1 class="title "><img class="logo" src="{{ STATIC_URL }}img/logo/fm_logo.png" alt="Fund Manager"/>{% placeholder "strapline" or %} {% endplaceholder %}</h1> 
          <div class="extras">
                    <a class="btn loginbtn" href="https://apps.mypebble.co.uk" target="_blank">Log in</a>
                </div>
                </div>
                <div class="row">
                    <div class="box grid3 hero tabbed carousel slide" id="productCarousel">
                        <div class="tabs">
                            <ul>
                                <li class="active-tab"><a href="#item1">Welcome</a></li>
                                <li><a href="#item2">Record Transactions</a></li>
                                <li><a href="#item3">Create Reports</a></li>
                                <li><a href="#item4">Register &amp; Dinner Money</a></li>
                                <li><a href="#item5">Banking &amp; Reconciliation</a></li>
                                <li><a href="#item6">Online Payments</a> </li>
                                <li><a href="#item7">Training &amp; Support</a></li>
                            </ul>
                        </div>
                        <div class="carousel-inner">
                            <div class="active item" id="item1">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_dashboard.png" alt="Fund Manager Dashboard"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Keeping track of every penny</h2>
                                    <div class="description">
                                        <p>Schools, academies and local authorities manage their voluntary income more effectively and efficiently with Fund Manager. It’s not just for schools – charities, churches and clubs also enjoy the benefits.</p>
                                        <p>Fund Manager can accurately record, report and bank cash, cheques and online payments for voluntary income like trips, uniform, dinner money and club fees. Now cloud hosted, it gives you the flexibility to securely access your accounts at any internet-enabled computer.</p>
                                        <p>We pride ourselves on being there for our customers when it matters most. As a result, we offer unlimited telephone and remote access support as part of your license.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item2">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_receipt.png" alt="Receipts and Payments"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Record Transactions</h2>
                                    <div class="description">
                                        <p>Fund Manager allows you to record receipts and payments accurately and responsibly with the option of printable receipts.</p>

                                            <ul>
                                                <li>Record monies against individual names for items like dinner money, trips and entry fees.</li>
                                                <li>Give yourself the ability to enter bulk payments.</li>
                                                <li>Keep an audit trail for all payments and cancellations, allowing you to relax in the knowledge you are performing your role responsibly.</li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item3">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_graph.png" alt="Screenshot"/>
                                    
                                </div>
                                <div class="text">
                                    <h2 class="title">Create Reports</h2>
                                    <div class="description">
                                        <p>From simple reports that provide your balance at a glance to in-depth reports for audit, Fund Manager gives you total flexibility.</p>
                                            <ul>
                                                <li>Customise the exact report you want to see with easy access to all transactions within your accounts.</li>
                                                <li>Find discrepancies like double entries by searching for transactions by date, type and value.</li>
                                                <li>Track the outstanding balance of items that are paid for in instalments. </li>
                                                <li>Create a report of transactions for an individual if requested.</li>
                                                <li>Close down your financial year with all the detailed reports you need by using our incredibly simple period end process.</li> 
                                            </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item4">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_registerapp.png" alt="Manage Catering"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Register &amp; Dinner Money</h2>
                                    <div class="description">
                                        <p>Ideal for keeping an eye on unpaid dinner money and entry fees, our innovative Fund Manager Register App allows organisations to track items taken in real time.</p>
                                            <ul>
                                                <li>You can use the Register App to instantly record receipt of a multitude of fixed price items – just create an item and unit cost.</li>
                                                <li>Using a handheld tablet, tick to confirm an individual has taken a paid (or free) item and their account is instantly deducted your customisable fee.</li>
                                                <li>Manage a balance, giving you the option to inform parents or individuals when they are low or in arrears.</li>
                                            </ul> 
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item5">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_banking.png" alt="Banking &amp; Reconciliation"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Banking &amp; Reconciliation</h2>
                                    <div class="description">
                                        <p>Fund Manager gives you the ability to record all of your banking processes with a few easy to use screens. </p>
                                            <ul>
                                                <li>Simply record paying in slips by selecting cash and cheques that have been taken to the bank. </li>
                                                <li>Reconciliation is as easy as ticking off entries against your paper statement through to an end balance.  </li>
                                                <li>Take a look at reconciliations from previous months and print them at any time.</li>
                                                 <li>Each process is followed by an automatically generated report for you to print and add to your records.</li>
                                            </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item6">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_offers2.png" alt="Online Payments"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Online Payments</h2>
                                    <div class="description">
                                        <p>In partnership with various providers, our online payments module enables easy integration, allowing you to take online payments for all of your items.</p>
                                            <ul>
                                                <li>Create items available for payment in a number of simple steps; choose a description, value and deadline. You could even allow individuals to make a contribution at an amount they are comfortable with.</li>
                                                <li>Payments are fast, secure and the whole process significantly reduces the administration time required by minimising the number of cash and cheque payments that need to be manually handled.</li>
                                                <li>Import your transactions in seconds so they are added to your reports and banking.</li>
                                                <li>Keep everything together in one solution.
</li>
                                            </ul>
                                             
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item7">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_training.png" alt="Support and training for Fund Manager"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Training &amp; Support</h2>
                                    <div class="description">
                                        <p>We’ll give you the training and support you need.</p>
                                            <ul>
                                                <li>As a new customer you receive online training to help you get started. We make sure you’ll make the most of the system to meet your needs.</li>
                                                <li>On-site support can be arranged for those wanting a detailed hands-on session in the work place, ideal for individuals and groups of trainees.</li>
                                                <li>Each customer has the continued support of Pebble’s experienced technical support team, available by telephone or email – whatever best suits your way of working.</li>
                                                <li>You can also grant us access to your system for remote support; we’ll resolve any problem you have while you wait.</li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control left" href="#productCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#productCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid2 calltoaction">
                            <div class="box-inner">
                                <h2 class="title">For an online demonstration and a quotation tailored to your organisation, please get in touch.</h2>
                        
                                <div class="description">
                               <a class="btn btn-large btn-calltoaction" href="/enquiries/demo/">FREE demo <i class="i icon-arrow-r-white"></i></a> 
                                    <p>Prices start from &pound;99 for a year’s license.</p>
                             </div>
                            </div>

                        
                        
                <!--            <div class="grid2 extras">
                        <img src="{{ STATIC_URL }}img/fm_filler.png" alt="Store receipts and payments online">
                    <!--<h3>For an online demonstration and a quotation tailored to your organisation, please get in touch.</h3>-->
                    </div>
                    </div>
                    <div class="grid1 sidebar extras"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid1">
                            <div class="box-inner">
                                <h2 class="title">Upgrade to Fund Manager</h2>
                                <div class="description">
                                   <p>If you are using an older version of School Fund Manager, you can upgrade now to enjoy the benefits.
                                    <a class="callout" href="/fm/upgrade/">Upgrade now</a></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="box grid1">
                            <div class="box-inner">
                            <a href="{{ MEDIA_URL }}brochures/FM_brochure.pdf" target="_blank" title="Fund Manager brochure"><img class="box-img" src="{{ STATIC_URL }}img/fm/fm_40x60.png" alt="Fund Manager brochure "/></a>
                                    <h2 class="title">Fund Manager brochure</h2>
                                        <div class="description">
                                            <p>The essential information for you to take away. <a href="{{ MEDIA_URL }}brochures/FM_brochure.pdf" target="_blank" title="Fund Manager brochure" onClick="_gaq.push(['_trackEvent', 'Brochure', 'FM', 'FM brochure']);" >Download PDF</a></p>
                                        </div>     
                            </div>  
                    </div>
                </div>
                <div class="row">
                    <div class="box ">
                       
                            <h2 class="title">Here’s what our customers have to say…</h2>
                            <div class="row">
                                <div class="grid1 testimonial">
                                    <blockquote>
                                        <p>Simple to use, excellent reporting, fully exportable, great technical support, and everything required for year end.</p>
                                        <small>Rachel Stratton, Finance Officer, All Saints School</small>
                                    </blockquote>
                                </div>
                                <div class="grid1 testimonial blog">
                                    <blockquote>
                                        <p>We cannot recommend Fund Manager highly enough, particularly the online and telephone support.</p>
                                        <small>Karen Gentry, School Business Manager, Cranmer Primary School</small>
                                    </blockquote>
                                </div>
                                <div class="grid1 testimonial blog">
                                    <blockquote>
                                        <p>The support team are always really helpful and nothing ever seems too much trouble.</p>
                                        <small>Angela, School Business Manager, Ditchling Primary</small>
                                    </blockquote>
                                </div>
                            </div>
                        <div class="row extras">
                            <div class="grid1 testimonial  ">
                                <blockquote>
                                    <p>Having recently had the accounts audited, our accountant praised the programme for its detailed and accurate information which was obtained at the press of a button.</p>
                                    <small>Fiona Adams, Bursar, St Paul’s CE Primary School</small>
                                </blockquote>
                            </div>
                            <div class="grid1 testimonial">
                                <blockquote>
                                    <p>All we can say about Fund Manager is that it is a fantastic tool for all schools.</p>
                                    <small>Gillian Bates, Finance Officer, Formby High School</small>
                                </blockquote>
                            </div>
                            <div class="grid1 testimonial">
                                <blockquote>
                                    <p>The remote support is fantastic and it has saved me hours of my time.</p>
                                    <small>Sheila Cooper, School Business Manager, Holy Cross Catholic High School</small>
                                </blockquote>
                        </div>
                    </div>
                </div>
            </div><!--/.container-->    
        </div><!--/.body-->   
      {% endblock %} 
      </div>
