{% extends "base.html" %}
{% load cms_tags %}
{% page_attribute "meta_decription" %}
{% page_attribute "meta_keywords" %}
{% block primary %}
<div class="producthome fm"> 
        <div class="row titlerow">
            <h1 class="title "><img class="logo" src="{{ STATIC_URL }}img/logo/fm_logo.png" alt="Fund Manager"/>{% placeholder "strapline" or %} {% endplaceholder %}</h1> 
          <div class="extras">
                    <a class="btn loginbtn" href="https://apps.talktopebble.co.uk/login/?next=/" target="_blank">Log in</a>
                </div>
                </div>
                <div class="row">
                    <div class="box grid3 hero tabbed carousel slide" id="productCarousel">
                        <div class="tabs">
                            <ul>
                                <li class="active-tab"><a href="#item1">Welcome</a></li>
                                <li><a href="#item2">Recort Transactions</a></li>
                                <li><a href="#item3">Create Reports</a></li>
                                <li><a href="#item4">Manage Catering</a></li>
                                <li><a href="#item5">Banking &amp; Reconciliation</a></li>
                                <li><a href="#item6">Online Payments</a> </li>
                                <li><a href="#item7">Training &amp; Support</a></li>
                            </ul>
                        </div>
                        <div class="carousel-inner">
                            <div class="active item" id="item1">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_dashboard.png" alt="Fund Manager Dashboard"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Welcome</h2>
                                    <div class="description">
                                        <p>We’ve designed Fund Manager to be a simple and intuitive software package that allows you to manage all aspects of your organisation’s finances. Our customers use Fund Manager to accurately record, report and bank their cash, cheques and online payments for clubs, dinner money, trips and fees. Now cloud based, Fund Manager also gives you the flexibility to securely access their accounts at any internet-enabled computer.</p>

</p>We pride ourselves in being there for our customers when it matters most.  As a result, we offer unlimited telephone and remote access support included in your license.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item2">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_receipt.png" alt="Receipts and Payments"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Recort Transactions</h2>
                                    <div class="description">
                                        <p>Fund Manager allows you to input receipts and payments accurately and also responsibly with the option of printable receipts.</p>
                                        <ul>
                                            <li>Manage funds from dinner money to instalments for trips.</li>
                                            <li>Give yourself the ability to input bulk payments, streamlining the process and saving you time.</li>
                                            <li>Keep an audit trail for all payments and cancellations allowing you to relax in the knowledge you are performing your role responsibly.</li>
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item3">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_graph.png" alt="Screenshot"/>
                                    
                                </div>
                                <div class="text">
                                    <h2 class="title">Create Reports</h2>
                                    <div class="description">
                                        <p>From simple reports that provide your balance at a glance to in-depth reports for auditors, Fund Manager gives you the flexibility to customise your outputs.</p>
                                            <ul>
                                                <li>Create a list of all transactions for an individual pupil if requested by parents. </li>
                                                <li>Track the outstanding balance of accounts that are paid in instalments.</li>
                                                <li>Period end is incredibly simple, providing all the detailed reports you need.</li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item4">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_registerapp.png" alt="Manage Catering"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Manage Catering</h2>
                                    <div class="description">
                                        <p>Ideal for managing unpaid school dinner money, our innovative Fund Manager Register App allows schools to track school dinners taken in real time and send payment reminders to parents.</p>
                                            <ul>
                                                <li>Manage a balance, giving you the option to inform parents when they are low or in arrears.</li>
                                                <li>Much more than dinner money, you can use the Register App to record attendance for a multitude of fixed price items such as entry to an after school club.</li>
                                            </ul> 
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item5">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_banking.png" alt="Banking &amp; Reconciliation"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Banking &amp; Reconciliation</h2>
                                    <div class="description">
                                        <p>Fund Manager gives you the ability to record all of your banking processes in a few easy to use screens.</p>
                                            <ul>
                                                <li>Simply record paying in slips by selecting cash and cheques that have been taken to the bank.</li>
                                                <li>Reconciliation is as easy as ticking off entries against your paper statement through to an end balance.</li>
                                                <li>Take a look at reconciliations from previous months and print them at any time.</li>
                                            </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item6">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_offers.png" alt="Online Payments"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Online Payments</h2>
                                    <div class="description">
                                        <p>In partnership with sQuid, our online payments module enables you to take online payments for items such as dinner money, trips and uniform.</p>
                                            <ul>
                                                <li>Payments are fast, secure and the whole process significantly reduces the administration time required by minimising the number of cash and cheque payments that need to be manually handled.</li>
                                                <li>Import your transactions in seconds so they are added to your reports and banking.</li>
                                                <li>your items for parents in simple steps, whether it’s an instalment for a trip or allowing them to make a contribution at an amount they are comfortable with.</li>
                                            </ul>
                                             
                                    </div>
                                </div>
                            </div>
                            <div class="item" id="item7">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/fm/fm_training.png" alt="Support and training for Fund Manager"/>
                                </div>
                                <div class="text">
                                    <h2 class="title">Training &amp; Support</h2>
                                    <div class="description">
                                        <p>We’ll give you the training and support you need.</p>
                                            <ul>
                                                <li>As a new customer, you’ll receive online training to help you get started using Fund Manager. We’ll also make sure that you’re making the most of the system to meet your needs. </li>
                                                <li>Each customer then has the continued support of Pebble’s experienced technical support team who are on hand to respond to any query. You can contact a member of the team by telephone or email – whatever best suits your way of working.</li>
                                                <li>You can also grant us access to your system for remote support; we’ll resolve any problem you have while you wait.</li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control left" href="#productCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#productCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid2 calltoaction">
                            <div class="box-inner">
                                <h2 class="title">Get a free quotation</h2>
                                <div class="description">
                                    <p>Transform your accounting from only £99 per month</p>
                                    <p><small><a href="#">Upgrading from a previous version?</a></small></p>
                                    <a class="btn btn-large btn-calltoaction">Talk to us <i class="i icon-arrow-r-white"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid1 sidebar extras"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid1">
                            <div class="box-inner">
                                <h2 class="title">Advice and support</h2>
                                <div class="description">
                                    <p>Got a question or need help? Our <a href="/support/">Support</a> section has got you covered</p>
                                    <p><small><strong>Using an older version of Fund Manager?</strong> <a href="/fm/upgrade/">Upgrade now to get all the benefits</a> <a class="callout" href="/fm/upgrade/">Upgrade now</a></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box">
                       
                            <h2 class="title">Fund Manager for&hellip;</h2>
                            <div class="row">
                                <div class="grid1 testimonial">
                                    <h3 class="testimonialtitle">Primary schools</h3>
                                    <blockquote>
                                        <p>TEST Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                        <small>Name, occupation, organisation</small>
                                    </blockquote>
                                    <p><a href="#">Read the case study</a></p>
                                </div>
                                <div class="grid1 testimonial quote">
                                    <h3 class="testimonialtitle">Secondary schools</h3>
                                    <blockquote>
                                        <p>TEST2 Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                        <small>Name, occupation, organisation</small>
                                    </blockquote>
                                </div>
                                <div class="grid1 testimonial blog">
                                    <h3 class="testimonialtitle">Parents</h3>
                                    <blockquote>
                                        <p>Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                        <small>Name, occupation, organisation</small>
                                    </blockquote>
                                </div>
                            </div>
                        <div class="row blog">
                            <div class="grid1 testimonial ">
                                <h3 class="testimonialtitle">PTAs</h3>
                                <blockquote>
                                    <p>Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                    <small>Name, occupation, organisation</small>
                                </blockquote>
                            </div>
                            <div class="grid1 testimonial">
                                <h3 class="testimonialtitle">Sports clubs</h3>
                                <blockquote>
                                    <p>Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                    <small>Name, occupation, organisation</small>
                                </blockquote>
                            </div>
                            <div class="grid1 testimonial">
                                <h3 class="testimonialtitle">Churches</h3>
                                <blockquote>
                                    <p>Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                    <small>Name, occupation, organisation</small>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                
            </div><!--/.container-->    
        </div><!--/.body-->   
      {% endblock %} 
      </div>
