{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
<div class="producthome sff"> 
        <div class="row titlerow">
            <h1 class="title "><img class="logo" src="{{ STATIC_URL }}img/logo/sff_logo.png" alt="School Fund Finder"/>{% placeholder "strapline" or %} {% endplaceholder %}</h1> 
           <div class="logmein">
                <a class="btn loginbtn" href="http://www.schoolfundfinder.co.uk/home" target="_blank">Log in</a>                     
        </div></div>
            <div class="row">
                <div class="box grid3 hero tabbed carousel slide " id="productCarousel">
                    <div class="tabs">
                        <ul>
                            <li class="active-tab"><a href="#item1">Overview</a></li>
                            <li><a href="#item2">Grants &amp; Funding</a></li>
                            <li><a href="#item3">Automated Updates</a></li>
                            <li><a href="#item4">Document Templates</a></li>
                            <li><a href="#item5">Advice Line</a></li>
                            <li><a href="#item6">Monthly Newsletters</a></li>
                            <li><a href="#item7">Custom Updates</a></li>
                        </ul>
                    </div>
                        <div class="carousel-inner">
                            <div class="active item" id="item1">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/sff/sff_dashboard.png" alt="School Fund Finder dashboard"/>
                                </div>
                                    <div class="text">
                                        <h2 class="title">Great opportunities at your fingertips</h2>
                                            <div class="description">
                                                 <p>School Fund Finder is an easy to use web service that helps you search for grants, funding and free materials for your organisation.</p>
                                                    <h3>Key benefits</h3>
                                                        <ul>
                                                            <li>Hundreds of grants &amp; funding opportunities specifically for schools and education settings</li>
                                                            <li>Email alerts of new grants straight to your inbox</li>
                                                            <li>Grant application writing help &amp; tips</li>
                                                            <li>Customisable searches and alerts</li>
                                                            <li>One-to-one advice from our experienced team</li>
                                                            <li>Monthly newsletter with funding updates</li>
                                                        </ul>
                                            </div>
                                    </div>
                                </div>
                                    <div class="item" id="item2">
                                        <div class="image">
                                            <img src="{{ STATIC_URL }}img/sff/sff_grant.png" alt="Screenshot"/>
                                        </div>
                                            <div class="text">
                                                <h2 class="title">Grants and Funding Search</h2>
                                                    <div class="description">
                                                        <p>Description</p>
                                                            <h3>Key benefits</h3>
                                                                <ul>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                </ul>
                                            </div>
                                    </div>
                                </div>
                                    <div class="item" id="item3">
                                        <div class="image">
                                            <img src="{{ STATIC_URL }}img/sff/sff_wall.png" alt="Screenshot"/>
                                        </div>
                                            <div class="text">
                                                <h2 class="title">Fundraising Wall</h2>
                                                    <div class="description">
                                                        <p>Description</p>
                                                            <h3>Key benefits</h3>
                                                                <ul>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                </ul>
                                            </div>
                                    </div>
                                </div>
                            <div class="item" id="item4">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/sff/sff_document.png" alt="Screenshot"/>
                                </div>
                                        <div class="text">
                                            <h2 class="title">Document Templates</h2>
                                                    <div class="description">
                                                        <p>Description</p>
                                                            <h3>Key benefits</h3>
                                                                <ul>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                </ul>
                                            </div>
                                    </div>
                                </div>
                            <div class="item" id="item5">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/sff/sff_advice.png" alt="Screenshot"/>
                                </div>
                                     <div class="text">
                                            <h2 class="title">Telephone Advice Line</h2>
                                                    <div class="description">
                                                        <p>Description</p>
                                                            <h3>Key benefits</h3>
                                                                <ul>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                </ul>
                                            </div>
                                    </div>
                                </div>
                            <div class="item" id="item6">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/sff/sff_newsletter.png" alt="Screenshot"/>
                                </div>
                                        <div class="text">
                                            <h2 class="title">Monthly Newsletter</h2>
                                                    <div class="description">
                                                        <p>Description</p>
                                                            <h3>Key benefits</h3>
                                                                <ul>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                </ul>
                                            </div>
                                    </div>
                                </div>
			                <div class="item" id="item7">
                                <div class="image">
                                    <img src="{{ STATIC_URL }}img/300x305.gif" alt="Screenshot"/>
                                </div>
                                        <div class="text">
                                            <h2 class="title">Custom Email Updates</h2>
                                                    <div class="description">
                                                        <p>Description</p>
                                                            <h3>Key benefits</h3>
                                                                <ul>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                    <li>Benefits</li>
                                                                </ul>
                                            </div>
                                    </div>
                            </div>                                    
                        </div>
                            <a class="carousel-control left" href="#productCarousel" data-slide="prev">&lsaquo;</a>
                            <a class="carousel-control right" href="#productCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            <div class="row">
                <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                    <div class="box grid2 calltoaction">
                        <div class="box-inner">
                            <h2 class="title">All this from £15 (Primary) or £21 (Secondary) a month*</h2>
                                <div class="description">
                                    <p>Book a free online demo by calling <strong>0845 310 1788</strong> or contact us for more information</p>
                                        <a class="btn btn-large btn-calltoaction">Talk to us <i class="i icon-arrow-r-white"></i></a>
                                    <p><small>*Terms and conditions apply</small></p>
                                </div>
                         </div>
                    </div>
               </div>
                    <div class="grid1 sidebar extras"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid1">
                            <div class="box-inner">
                                <a href="#"><img class="box-img" src="{{ STATIC_URL }}img/sff/sff_40x60.png" alt="School Fund Finder brochure "/></a>
                                    <h2 class="title">Fund Finder brochure</h2>
                                        <div class="description">
                                            <p>Everything you need to know in a two page summary <a href="#">Download PDF</a></p>
                                        </div>
                            </div>
              </div>
                   <div class="box grid1 extras">
                        <div class="box-inner">
                        <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 1,
  interval: 30000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#ffffff',
      color: '#2e2e2e'
    },
    tweets: {
      background: '#ffffff',
      color: '#292929',
      links: '#f8a233'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: false,
    behavior: 'default'
  }
}).render().setUser('PebbleSFF').start();
</script>

                            <!--<a href="https://twitter.com/#!/PebbleSFF" target="_blank"><img class="box-img" src="{{ STATIC_URL }}img/ff/ff_twitter.png" alt="Follow us on twitter PebbleSFF"/></a>
                                <h2 class="title">Follow on Twitter</h2>
                                    <div class="description">
                                        <p>Follow <a href="https://twitter.com/#!/PebbleSFF" target="_blank">@PebbleSFF</a> for product offers, news and support</p>-->
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                       <div class="row ">
        {% placeholder "Feedback" or %}
        <div class="box">
                   <h2 class="title">Success Stories</h2>
                    <div class="row">
                        <div class="grid1 testimonial">
                            <blockquote>
                                <p>Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                    <small>Name, occupation, organisation</small>
                            </blockquote>
                       </div>
                       <div class="grid1 testimonial quote">
                           <blockquote>
                                <p>Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                    <small>Name, occupation, organisation</small>
                            </blockquote>
                       </div>
                           <div class="grid1 testimonial blog">
                           <blockquote>
                                <p>Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                    <small>Name, occupation, organisation</small>
                            </blockquote>
                       </div>
                </div>
  </div>{% endplaceholder %}
  </div>
       </div><!--/.container-->    
</div><!--/.body-->
      {% endblock %} 
