{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
<div class="support">
                <div class="row titlerow">{% placeholder "Strapline" or %}
                    <h1 class="title"><img class="logo" src="{{ STATIC_URL}}img/logo/support_logo.png" alt="Support"/> Support strapline</h1>
{% endplaceholder %}
                </div>
                <div class="row">
                    <!--<h1>Support</h1>-->
                    <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid2">
                            <div class="box-inner">
                                {% placeholder "support_welcome" or %}<h2>We're justifiably famous for our support</h2>
                                <p>A license for any of our products entitles you to lifetime support from our friendly in-house team. Depending on your requirements and service level, this can be via telephone, email, or our online customer forum, or you can grant us access to your system to solve your problem while you are working.</p>{% endplaceholder %}
                            </div>
                        </div>
                    </div>
                    <div class="grid1 sidebar logmein"> <!-- Column. Modules inside will stack vertically -->
                        <div class="support onlinesupportbox box grid1 ">
                            <div class="box-inner">
                                <h2 class="title">We're available</h2>
                                <div class="description">
                                    <p>
                                        <i class="i icon-community-white"></i><a href="https://getsatisfaction.com/pebble" target="_blank">Pebble support community</a><br/>
                                        <i class="i icon-phone-white"></i>0845 310 1788<br/>
                                        <i class="i icon-email-white"></i><a href="mailto:support@talktopebble.co.uk">support@talktopebble.co.uk</a><br/>
                                        <i class="i icon-blank"></i> <small>Mon-Fri 8:30am - 5.30pm</small>
                                    </p>
                                </div>
                                <form action="https://secure.logmeinrescue.com/Customer/Code.aspx" method="post" id="logmein-form" >
                                    <h2 class="title">Online support 
					<i class="i icon-help-white" title="Logmein remote support explanation" rel="tooltip"></i></h2>
                                    <label for="pin">Enter your 6-digit PIN code:</label>
                                    <div class="alert alert-warning errorlist hide">
                                        <ul class="errorlist">
                                            <li>This field is required</li>
                                        </ul>
                                    </div>
                                    <input class="pin" type="text" size="20" name="Code" id="Code"/>
                                    <input type="submit" value="Connect" class="btn"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>To help us provide you with the best support, please select the product you need help with:</h2>
                <div class="row productchoice ">
                       <div class="box grid1 fm">
                            <div class="box-inner">
                                <h3 class="title"><a href="fm">Fund Manager</a></h3>
                                <div class="description">
                                    <p>The latest browser-based version of our acclaimed accountancy package</p>
                                </div>
                                <div class="footerimage">
                                    <a href="/support/fm/"><img alt="alt text" src="{{ STATIC_URL }}img/fm/fm_screen.png"/></a>
                                </div>
                            </div>
                        </div>
                   <div class="box grid1 fm">
                        <div class="box-inner">
                            <h3 class="title"><a href="sfm7">School Fund Manager v7</a></h3>
                            <div class="description">
                                <p>Older versions of our accountancy package, installed on your desktop <a class="callout" href="sfm7">Upgrade now</a></p>
                            </div>
                            <div class="footerimage">
                                <a href="/support/m7/"><img alt="alt text" src="{{ STATIC_URL }}img/fm7_screen.png"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="box grid1 sff">
                        <div class="box-inner">
                            <h3 class="title"><a href="ff">School Fund Finder</a></h3>
                            <div class="description">
                                <p>School Fund Finder is the superb grants and funding database.</p>
                            </div>
                            <div class="footerimage">
                                <a href="/support/ff/"><img alt="alt text" src="{{ STATIC_URL }}img/ff/ff_screen.png"/></a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
</div>
 {% endblock %} 
