{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
 <div class="support">
                <div class="row titlerow">
                    <div class="title">
                        <a href="/support/">
                            <img class="logo" alt="Support"
                                src="{{ STATIC_URL }}img/logo/support_logo.png"/>
                        </a>
                        <div class="pull-right">
                            {% placeholder "support_product" or %}{% endplaceholder %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h1>{% placeholder "support_title" or %}{% endplaceholder %}</h1>
                    <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box">
                                {% placeholder "support_intro" or %}{% endplaceholder %}
                                <h2>Frequently Asked Questions</h2>
                                <h3><img class="pull-left img-sff" src="{{ STATIC_URL }}img/sff/sff_40x40.png" alt="School Fund Finder Support Document"/>
                                    {% placeholder "support_decriptin_1h" or %} {% endplaceholder %}</h3>
                                        <p>{% placeholder "support_description_1p" or %}{% endplaceholder %}</p>
                                <h3><img class="pull-left img-sff" src="{{ STATIC_URL }}img/sff/sff_40x40.png" alt="School Fund Finder Support Document"/>
                                    {% placeholder "support_decriptin_2h" or %} {% endplaceholder %}</h3>
                                        <p>{% placeholder "support_description_2p" or %}{% endplaceholder %}</p>
                                <h3><img class="pull-left img-sff" src="{{ STATIC_URL }}img/sff/sff_40x40.png" alt="School Fund Finder Support Document"/>
                                    {% placeholder "support_decriptin_3h" or %} {% endplaceholder %}</h3>
                                        <p>{% placeholder "support_description_3p" or %}{% endplaceholder %}</p>

                        </div>
                    </div>
                    <div class="grid1 sidebar device-hide"> <!-- Column. Modules inside will stack vertically -->
                        <div class="support box">
                                <h2 class="title">We're available</h2>
                                <div class="description">
                                    <p>
                                        <i class="i icon-phone-white"></i>0845 310 1788<br/>
                                        <i class="i icon-blank"></i> <small>Mon to Fri | 8:30am – 5:30pm</small><br/>
                                        <i class="i icon-community-white"></i>
                                        <a href="https://getsatisfaction.com/pebble" target="_blank"
                                        onClick="_gaq.push(['_trackEvent', 'GetSatisfaction',  'Click', 'Community']);">
                                        Pebble support community</a><br/>
                                        <i class="i icon-email-white"></i><a href="mailto:support@mypebble.co.uk">support@mypebble.co.uk</a>
                                    </p>
                            </div>
                        </div>
                </div>
            </div><!--/.container-->
 {% endblock %}
