{% extends "base.html" %}
{% load cms_tags %}

{% block primary %}

<div class="support">
<div class="body" id="body">

                <div class="row titlerow">
                    <div class="title"><a href="support.html"><img class="logo" src="{{ STATIC_URL}}img/logo/support_logo.png"" alt="Support"/></a> 
<div class="pull-right"{% placeholder "support_product" or %}{% endplaceholder %}</div></div>
                </div>
                
                <div class="row">{% placeholder "support_document" or %}

                    <h1>On-site detailed help article with screenshots and/or video</h1>
                    <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid2">
                            <div class="box-inner">
                                <p><strong>Main content area is inside this <code>.box.grid2</code>.</strong> Paragraph. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <h2>H2 Heading 2</h2>
                                <p><code>p</code> Paragraph. <strong>Strong.</strong> <em>Emphasis.</em> <a href="#">Hyperlink.</a> Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <p>Paragraph. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <h3>H3 Heading 3</h3>
                                <p class="pull-quote pull-right"><code>p.pull-quote</code> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec in diam.</p>
                                <p>Paragraph with a pull-quote. Donec ipsum. Suspendisse potenti. Morbi vitae nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porta orci eget urna. Donec nec massa. Ut pharetra interdum felis. Phasellus eget nibh. Mauris nunc elit, consectetuer ac, sodales et, malesuada quis, nibh. Aenean feugiat purus id orci. Fusce pede purus, vestibulum porttitor, scelerisque ut, dapibus eget, lorem.</p>
                                <p><img class="pull-right" alt="alt text" src="{{ STATIC_URL}}img/260x120.gif"/>Paragraph with an <code>img.pull-right</code>. Donec ipsum. Suspendisse potenti. Morbi vitae nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porta orci eget urna. Donec nec massa. Ut pharetra interdum felis. Phasellus eget nibh. Mauris nunc elit, consectetuer ac, sodales et, malesuada quis, nibh. Aenean feugiat purus id orci. Fusce pede purus, vestibulum porttitor, scelerisque ut, dapibus eget, lorem.</p>
                                
                                <h2>Buttons and icons</h2>
                                <p>Button styles <code>a.btn</code>, <code>button.btn</code> or, <code>input.btn</code>: <a href="#" class="btn">.btn</a> <a href="#" class="btn btn-large">.btn.btn-large</a></p>
                                <p>Icons <code>i.i.icon-name</code>, e.g. <i class="i icon-arrow-r"></i>icon-arrow-r</p>
                                
                                <h2>Tooltips, popovers and modals</h2>
                                <p><span rel="tooltip" title="Tooltip contents">Hover over me for <strong>tooltip</strong>.</span> Add attributes <code>rel="tooltip" title="foo"</code> to any element. See <a href="http://twitter.github.com/bootstrap/javascript.html#tooltips" target="_blank">Bootstrap docs</a> for more options.</p>
                                <p><span rel="popover" data-original-title="Popover title" data-content="Popover contents">Hover over me for <strong>popover</strong>.</span> Add attributes <code>rel="popover" data-original-title="foo" data-content="bar"</code> to any element. See <a href="http://twitter.github.com/bootstrap/javascript.html#popovers" target="_blank">Bootstrap docs</a> for more options.</p>
                                <p><a href="#myModal" data-toggle="modal">Click me for <strong>modal dialog</strong>.</a> Add attributes <code>data-toggle="modal" href="#myModal"</code> to any element, and <code>div.modal#myModal</code> at the end of the markup. See <a href="http://twitter.github.com/bootstrap/javascript.html#modals" target="_blank">Bootstrap docs</a> for more options.</p>
                                
                                <h2>Bullet lists</h2>                                
                                <p>Paragraph. Donec ipsum. Suspendisse potenti. Morbi vitae nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                <ul>
                                    <li>Bullet list first item</li>
                                    <li>
                                        <h3>Subheading H3 in a bullet list</h3>
                                        <p>Paragraph inside bullet list. Suspendisse potenti. Morbi vitae nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porta orci eget urna. Donec nec massa. Ut pharetra interdum felis. Phasellus eget nibh. Mauris nunc elit, consectetuer ac, sodales et, malesuada quis, nibh. Aenean feugiat purus id orci. Fusce pede purus, vestibulum porttitor, scelerisque ut, dapibus eget, lorem.</p>
                                    </li>
                                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vitae nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</li>
                                    <li>Bullet list embedded in another bullet list<ul>
                                        <li>Phasellus justo pede, dictum pulvinar, sagittis a, tincidunt vitae, enim. Vestibulum sed libero</li>
                                        <li>Aliquam consectetuer malesuada justo</li>
                                        <li>Phasellus ut lacus ac elit ullamcorper consequat</li>
                                    </ul></li>
                                    <li>Phasellus justo pede, dictum pulvinar, sagittis a, tincidunt vitae, enim. Vestibulum sed libero</li>
                                    <li>Aliquam consectetuer malesuada justo</li>
                                    <li>Phasellus ut lacus ac elit ullamcorper consequat</li>
                                </ul>
                                <p>Paragraph. Donec ipsum. Suspendisse potenti. Morbi vitae nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                <h2>Numbered lists</h2>
                                <ol>
                                    <li>Numbered list. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus justo pede, dictum pulvinar, sagittis a, tincidunt vitae, enim. Vestibulum sed libero</li>
                                    <li>Phasellus justo pede, dictum pulvinar, sagittis a, tincidunt vitae, enim. Vestibulum sed libero
                                        <ol>
                                            <li>Nested numbered list. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus justo pede, dictum pulvinar, sagittis a, tincidunt vitae, enim. Vestibulum sed libero</li>
                                            <li>Phasellus justo pede, dictum pulvinar, sagittis a, tincidunt vitae, enim. Vestibulum sed libero</li>
                                            <li>Aliquam consectetuer malesuada justo</li>
                                            <li>Phasellus ut lacus ac elit ullamcorper consequat</li>
                                        </ol>
                                    </li>
                                    <li>Aliquam consectetuer malesuada justo</li>
                                    <li>Phasellus ut lacus ac elit ullamcorper consequat</li>
                                </ol>
                                
                                <h2>Block quotations</h2>
                                <p>Paragraph. Donec ipsum. Suspendisse potenti. Morbi vitae nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                <blockquote>
                                    <p>Block quotation. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec in diam. Integer fringilla faucibus arcu. Donec tempus. Sed ac diam nec nulla nonummy aliquam. Phasellus justo pede, dictum pulvinar, sagittis a, tincidunt vitae, enim. Vestibulum sed libero. Aliquam consectetuer malesuada justo. Phasellus ut lacus ac elit ullamcorper consequat.</p>
                                    <small>Optional source and citation</small>
                                </blockquote>
                                

                            </div>
                        </div>
                    </div>{% endplaceholder %}
         
                    <div class="grid1 sidebar"> <!-- Column. Modules inside will stack vertically -->
                        <div class="support supportbox onlinesupportbox box grid1">
                            <div class="box-inner">
                                <h2 class="title">We're available</h2>
                                <div class="description">
                                    <p>
                                        <i class="i icon-community-white"></i> <a href="https://getsatisfaction.com/pebble" target="_blank">Pebble support community</a><br/>
                                        <i class="i icon-email-white"></i> <a href="mailto:support@talktopebble.co.uk">support@talktopebble.co.uk</a><br/>
                                        <i class="i icon-twitter-white"></i><a href="https://twitter.com/#!/PebbleSFF" target="_blank">@PebbleSFF</a><br/>
                                        <i class="i icon-phone-white"></i> 0845 310 1788<br/>
                                        <i class="i icon-blank"></i><small>Mon – Fri 8:30am – 5.30pm</small>
                                    </p>
                                </div>
                                <form action="https://secure.logmeinrescue.com/Customer/Code.aspx" method="post" id="logmein-form"  class="logmein">
                                    <h2 class="title">Online support 
					<i class="i icon-help-white" title="Logmein remote support explanation" rel="tooltip"></i></h2>
                                    <label for="pin">Enter your 6-digit PIN code:</label>
                                    <div class="alert alert-warning errorlist hide">
                                        <ul class="errorlist">
                                            <li>This field is required</li>
                                        </ul>
                                    </div>
                                    <input class="pin" type="text" size="20" name="Code" id="Code"/>
                                    <input type="submit" value="Connect" class="btn"/>
                                </form>
                            </div>
                        </div>
                        <div class="supportcommunitybox box grid1">
                            <div class="box-inner">
                                <h2 class="title">Pebble Support Community</h2>
                                <div class="description">
                                    <ul>
                                        <li><a href="#">Manage year-end procedures painlessly</a></li>
                                        <li><a href="#">Create a fully transparent audit trail</a></li>
                                        <li><a href="#">Cloud-based software – nothing to install</a></li>
                                    </ul>
                                </div>
                                <form action="/getsatisfaction/" method="post" id="getsatisfaction-form">
                                    <label for="search_support" class="hide">Search support community</label>
                                    <input class="search-support" type="search" size="20" name="search_support" id="search_support" placeholder="Search support community"/>
                                    <input type="submit" value="Search" class="btn"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div><!--/.container-->    
                  

 {% endblock %} 

