{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
 <div class="support">
                <div class="row titlerow">
                    <div class="title">
                        <a href="/support/">
                            <img class="logo" alt="Support"
                                src="{{ STATIC_URL }}img/logo/support_logo.png"/>
                        </a>
                        <div class="pull-right">
                            {% placeholder "support_product" or %}{% endplaceholder %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h1>{% placeholder "support_title" or %}{% endplaceholder %}</h1>
                    <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box tutorial">
                                {% placeholder "support_intro" or %}{% endplaceholder %}
                                <h2>{% placeholder "faq title" or %}Frequently asked questions{% endplaceholder %}</h2>
                                    <ul class="video unstyled">
                                      <h3>Transactions</h3>
                                      <li>
                                          <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Enter a Receipt and Record a Payment"/>
                                          <a href="/support/fm/record-payment/">Enter a Receipt and Record a Payment</a></span>
                                      </li>
                                      <li>
                                          <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Cancel Receipt"/>
                                          <a href="/support/fm/cancel-receipts/">Cancelling Receipts and Payments</a></span>
                                      </li>
                                      <li>
                                          <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Importing ePayment Transactions"/>
                                          <a href="/support/fm/import-epayment-transactions/">Importing ePayment Transactions</a></span>
                                      </li>
                                      <li>
                                          <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="How To Make Transfers"/>
                                          <a href="/support/fm/make-transfers/">How To Make Transfers</a></span>
                                      </li>
                                      <li>
                                          <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="How To Record And Report Gift Aid Transactions"/>
                                          <a href="/support/fm/gift-aid/">How To Record And Report Gift Aid Transactions</a></span>
                                      </li>
                                    </ul>
                                    <ul class="video unstyled">
                                      <h3>Reports</h3>
                                      <li>
                                          <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Account Reports and Create Account Groups"/>
                                         <a href="/support/fm/account-report/">Account Reports and Create Account Groups</a></span>
                                      </li>
                                      <li>
                                         <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Search Transactions and Export Data"/>
                                         <a href="/support/fm/search-transactions/">How to Search Transactions and Export Data</a></span>
                                      </li>
                                      <li>
                                           <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Who's Not Paid"/>
                                           <a href="/support/fm/whos-not-paid/">Find out Who's Not Paid</a></span>
                                      </li>
                                    </ul>
                                    <ul class="video unstyled">
                                      <h3>Banks & Cash</h3>
                                      <li>
                                          <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Bank History, Cash History, and Reconciled Statements"/>
                                          <a href="/support/fm/bank-history/">Bank History, Cash History, and Reconciled Statements</a></span>
                                      </li>
                                      <li>
                                          <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Paying Receipts To Bank"/>
                                          <a href="/support/fm/receipt-bank/">Paying Receipts To Bank</a></span>
                                      </li>
                                      <li>
                                          <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Reconciling a Bank Statement"/>
                                          <a href="/support/fm/bank-reconcile/">Reconciling a Bank Statement</a></span>
                                      </li>
                                      <li>
                                          <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Transferring Money From Your Settlement Account"/>
                                          <a href="/support/fm/transfer-settlementacc/">Transferring Money From Your Settlement Account</a></span>
                                      </li>
                                      <li>
                                          <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Unreconciling a Bank Statement / Cancelling and Amending"/>
                                          <a href="/support/fm/unrec-bank-amend-transactions/">Unreconciling a Bank Statement / Cancelling and Amending</a></span>
                                      </li>
                                    </ul>
                                    <ul class="video unstyled">
                                      <h3>sQuid</h3>
                                      <li>
                                          <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Posting, Amending, And Cancelling Offers"/>
                                          <a href="/support/fm/offers/">Posting, Amending, and Cancelling Offers</a></span>
                                      </li>
                                      <li>
                                          <h3><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Import Squid Sales"/>
                                          <a href="/support/fm/import-squid/">Import sQuid Sales</a></span>
                                      </li>
                                    </ul>
                                    <ul class="video unstyled">
                                      <h3>Administration</h3>
                                      <li>
                                          <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Manage Names and Creating Groups"/>
                                          <a href="/support/fm/manage-names/">How to Manage Names and Create Groups</a></span>
                                      </li>
                                      <li>
                                          <h3><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Manage Accounts"/>
                                          <a href="/support/fm/manage-accounts/">How to Manage Accounts</a></span>
                                      </li>
                                      <li>
                                        <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png"
                                                       alt="Period End Closedown"/>
                                          <a href="/support/fm/period-end-closedown-fm/">Period End Closedown</a></span>
                                      </li>
                                      <li>
                                        <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png"
                                                       alt="Creating a Settlement Account"/>
                                          <a href="/support/fm/create-settlementacc/">Creating a Settlement Account</a></span>
                                      </li>
                                      <li>
                                        <span><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png"
                                                       alt="Get Satisfaction"/>
                                          <a href="/support/fm/get-satisfaction/">How to use the Feedback Tab</a></span>
                                      </li>
                                    </ul>
                          <hr/>
                              <h2>Frequently Asked Questions</h2>
                                {% placeholder "FAQ_fm" or %} {% endplaceholder %}

                        </div>

                        <!-- training -->
                     <!--   <div class="box grid2">
                            <div class="box-inner ">
                                <h2 class="title">Are you new to the role or just need a refresher? Book your 1 hour training session for only £65.</h2>
                                <div class="description ">
                               <a class="btn btn-large btn-calltoaction pull-right" href="/enquiries/training/">Book now <i class="i icon-arrow-r-white"></i></a>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div class="grid1 sidebar device-hide"> <!-- Column. Modules inside will stack vertically -->
                      <div class="support onlinesupportbox box">
                                <h2 class="title">We're available</h2>
                                <div class="description">
                                   <p>
                                        <i class="i icon-phone-white"></i>0845 310 1788<br/>
                                        <i class="i icon-blank"></i> <small>Mon to Fri | 8:30am – 5:30pm</small><br/>
                                        <i class="i icon-community-white"></i>
                                        <a href="https://getsatisfaction.com/pebble" target="_blank"
                                        onClick="_gaq.push(['_trackEvent', 'GetSatisfaction',  'Click', 'Community']);">
                                        Pebble support community</a><br/>
                                        <i class="i icon-email-white"></i><a href="mailto:support@mypebble.co.uk">support@mypebble.co.uk</a>
                                    </p>
                                </div>

                                <form action="https://secure.logmeinrescue.com/Customer/Code.aspx" method="post" id="logmein-form" class="contact">
                                    <h2 class="title">Online support</h2>
                                    <label for="pin">Enter your 6-digit PIN code:</label>
                                    <div class="alert alert-warning errorlist hide">
                                        <ul class="errorlist">
                                            <li>This field is required</li>
                                        </ul>
                                    </div>
                                    <input class="pin" type="text" size="20" name="Code" id="Code"/>
                                    <input type="submit" value="Connect" class="btn"/>
                                </form>
                        </div>

                                                <div class="supportcommunitybox box grid1">
                                <h2 class="title">User Guides</h2>
                                <div class="description">
                                <ul>
                                    <li><a href="{{ STATIC_URL }}supportdoc/Fund Manager User Guide.pdf"
                                     onClick="_gaq.push(['_trackEvent', 'Support',  'Download', 'Fund Manager Guide']);">
Fund Manager User Guide</a></li>
                                    <li><a href="{{ MEDIA_URL }}supportdoc/Fund Manager Quick Start Guide.pdf"
                                    onClick="_gaq.push(['_trackEvent', 'Support',  'Download', 'Quick Start Guide']);">
                                    Quick Start Guide</a></li>
                                    <li><a href="{{ STATIC_URL }}supportdoc/MIS app User Guide.pdf"
                                     onClick="_gaq.push(['_trackEvent', 'Support',  'Download', 'Fund Manager MISAPP']);">
MISapp User Guide</a></li>
                                      <li><a href="https://s3-eu-west-1.amazonaws.com/misapp/pebble-misapp.msi"
                                                                           onClick="_gaq.push(['_trackEvent', 'Support',  'Download', 'Fund Manager MISAPP Download']);" target="_blank">
                                      MISapp Download</a></li>
                                </ul>
                                <hr/>
                                <h3>Useful Resources</h3>
                                 <ul>
                                    <li><a href="http://support.google.com/chrome/bin/answer.py?hl=en&answer=95472" target="_blank">Google Chrome - Manage pop-ups</a></li>
                                    <li><a href="http://support.mozilla.org/en-US/kb/pop-blocker-settings-exceptions-troubleshooting" target="_blank">Mozilla Firefox - Manage pop-ups</a></li>
                                    <li><a href="http://windows.microsoft.com/en-US/windows-vista/Change-Internet-Explorer-9-Privacy-settings" target="_blank">Internet Explorer 9 - Manage pop-ups</a></li>
                                </ul>
                                </div>
                        </div>
                        <div class="box grid1">
                                <h2 class="title">Pebble Support Community</h2>
                                <div class="description">
                                <div id='gsfn_search_widget'>
                                        <form accept-charset='utf-8' action='https://getsatisfaction.com/pebble' id='gsfn_search_form' method='get' onsubmit='gsfn_search(this); return false;'>
                                            <input name='style' type='hidden' value='' />
                                            <input name='limit' type='hidden' value='3' />
                                            <input name='utm_medium' type='hidden' value='widget_search' />
                                            <input name='utm_source' type='hidden' value='widget_pebble' />
                                            <input name='callback' type='hidden' value='gsfnResultsCallback' />
                                            <input name='format' type='hidden' value='widget' />
                                            <label for='gsfn_search_query'>Ask a question, share an idea, or report a problem.</label>
                                            <input id='gsfn_search_query' maxlength='120' name='query' type='text' placeholder="Search support community" class="search-support" />
                                            <input id='continue' type='submit' value='Search' class="btn" />
                                        </form>
                                        <div id='gsfn_search_results' style='height: auto;'></div>
                                        </div>
                                            <div class='powered_by'>
                                            </div>
                                        </div>
                                        <script src="https://getsatisfaction.com/pebble/widgets/javascripts/3613bbf/widgets.js" type="text/javascript"></script>
                                        <div id="getsat-widget-809" class="gscommunity"></div>
                                        <script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
                                        <script type="text/javascript">
                                        if (typeof GSFN !== "undefined") { GSFN.loadWidget(809,{"containerId":"getsat-widget-809"}); }
                                        </script>
                                </div>
                        </div>
                </div>
            </div><!--/.container-->
 {% endblock %}
