{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
 <div class="support">
                <div class="row titlerow">
                    <div class="title">
                        <a href="/support/">
                            <img class="logo" alt="Support"
                                src="{{ STATIC_URL }}img/logo/support_logo.png"/>
                        </a>
                        <div class="pull-right">
                            {% placeholder "support_product" or %}{% endplaceholder %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h1>{% placeholder "support_title" or %}{% endplaceholder %}</h1>
                    <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid2 tutorial">

                            <div class="box-inner">
                                {% placeholder "support_intro" or %}{% endplaceholder %}
                                <h2>{% placeholder "faq title" or %}Frequently asked questions{% endplaceholder %}</h2>
                                                                <h3><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Manage Accounts"/>
                                    <a href="/support/fm/manage-accounts/">How to manage accounts</a></h3>
                                        <p>{% placeholder "support_description_1p" or %}{% endplaceholder %}</p>
                                <h3><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Manage Names and Creating Groups"/>
                                    <a href="/support/fm/manage-names/">How to manage names and create groups</a></h3>
                                        <p>{% placeholder "support_description_2p" or %}{% endplaceholder %}</p>
                                <h3><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Search Transactions and Export Data"/>
                                    <a href="/support/fm/search-transactions/">How to search transactions and export data</a></h3>
                                        <p>{% placeholder "support_description_3p" or %}{% endplaceholder %}</p>
                                <!---updated videos-->       
                               <h3><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Bank History, Cash History, and Reconciled Statements"/>
                                    <a href="/support/fm/bank-history/">Bank history, cash history, and reconciled statements</a></h3>
                                        <p>{% placeholder "support_description_4p" or %}{% endplaceholder %}</p>
                                        
                              <h3><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Posting, Amending, And Cancelling Offers"/>
                                    <a href="/support/fm/offers/">Posting, amending, and cancelling offers</a></h3>
                                        <p>{% placeholder "support_description_5p" or %}{% endplaceholder %}</p>
                                                  
                                <!--End updated videos change -->
                              <h3><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Who's Not Paid"/>
                                    <a href="/support/fm/whos-not-paid/">Find out who's not paid</a></h3>
                                        <p>{% placeholder "support_description_6p" or %}{% endplaceholder %}</p>
                                <h3><img class="pull-left" src="{{ STATIC_URL }}img/fm/video_40x40.png" alt="Get Satisfaction"/>
                                    <a href="/support/fm/get-satisfaction/">How to use the feedback tab</a></h3>
                                        <p>{% placeholder "support_description_7p" or %}{% endplaceholder %}</p>
                            </div>
                        </div>
                        <!-- training -->
                        <div class="box grid2">
                            <div class="box-inner ">
                                <h2 class="title">Are you new to the role or just need a refresher? Book your 1 hour training session for only £65.</h2>
                                <div class="description ">
                               <a class="btn btn-large btn-calltoaction pull-right" href="/enquiries/training/">Book now <i class="i icon-arrow-r-white"></i></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid1 sidebar device"> <!-- Column. Modules inside will stack vertically -->
                        <div class="support supportbox onlinesupportbox box grid1">
                            <div class="box-inner">
                                <h2 class="title">We're available</h2>
                                <div class="description">
                                   <p>
                                        <i class="i icon-phone-white"></i>0845 310 1788<br/>
                                        <i class="i icon-blank"></i> <small>Mon to Fri | 8:30am – 5:30pm</small><br/>
                                        <i class="i icon-community-white"></i><a href="https://getsatisfaction.com/pebble" target="_blank">Pebble support community</a><br/>
                                        <i class="i icon-email-white"></i><a href="mailto:support@mypebble.co.uk">support@mypebble.co.uk</a>
                                    </p>
                                </div>
                                
                                <form action="https://secure.logmeinrescue.com/Customer/Code.aspx" method="post" id="logmein-form" class="contact">
                                    <h2 class="title">Online support 
					<i class="i icon-help-white"></i></h2>
                                    <label for="pin">Enter your 6-digit PIN code:</label>
                                    <div class="alert alert-warning errorlist hide">
                                        <ul class="errorlist">
                                            <li>This field is required</li>
                                        </ul>
                                    </div>
                                    <input class="pin" type="text" size="20" name="Code" id="Code"/>
                                    <input type="submit" value="Connect" class="btn"/>
                                </form>
                            </div>
                        </div>
                        
                                                <div class="supportcommunitybox box grid1">
                            <div class="box-inner">
                                <h2 class="title">User Guides</h2>
                                <div class="description">
                                <ul>
                                    <li><a href="{{ MEDIA_URL }}supportdoc/Fund Manager Manual.pdf">
Fund Manager User Manual</a></li>
                                    <li><a href="{{ MEDIA_URL }}supportdoc/Fund Manager Quick Start Guide.pdf">Quick Start Guide</a></li>
                                    <li><a href="{{ MEDIA_URL }}supportdoc/Importing Parent Pay Transactions.pdf">Import Parent Pay Transactions</a></li>
                                    <li><a href="{{ MEDIA_URL }}supportdoc/Importing Parent Mail +Pay Transactions.pdf">Import Parent Mail +Pay Transactions</a></li>
                                </ul>
                                <hr/>
                                <h3>Useful Resources</h3>
                                 <ul>
                                    <li><a href="http://support.google.com/chrome/bin/answer.py?hl=en&answer=95472" target="_blank">Google Chrome - Manage pop-ups</a></li>
                                    <li><a href="http://support.mozilla.org/en-US/kb/pop-blocker-settings-exceptions-troubleshooting" target="_blank">Mozilla Firefox - Manage pop-ups</a></li>
                                    <li><a href="http://windows.microsoft.com/en-US/windows-vista/Change-Internet-Explorer-9-Privacy-settings" target="_blank">Internet Explorer 9 - Manage pop-ups</a></li>
                                </ul>
                                </div>
                            </div>
                        </div>
                        <div class="supportcommunitybox box grid1">
                            <div class="box-inner">
                                <h2 class="title">Pebble Support Community</h2>
                                <div class="description">
                                <div id='gsfn_search_widget'>
                                        <form accept-charset='utf-8' action='https://getsatisfaction.com/pebble' id='gsfn_search_form' method='get' onsubmit='gsfn_search(this); return false;'>
                                            <input name='style' type='hidden' value='' />
                                            <input name='limit' type='hidden' value='3' />
                                            <input name='utm_medium' type='hidden' value='widget_search' />
                                            <input name='utm_source' type='hidden' value='widget_pebble' />
                                            <input name='callback' type='hidden' value='gsfnResultsCallback' />
                                            <input name='format' type='hidden' value='widget' />
                                            <label for='gsfn_search_query'>Ask a question, share an idea, or report a problem.</label>
                                            <input id='gsfn_search_query' maxlength='120' name='query' type='text' placeholder="Search support community" class="search-support" />
                                            <input id='continue' type='submit' value='Search' class="btn" />
                                        </form>
                                        <div id='gsfn_search_results' style='height: auto;'></div>
                                        </div>
                                            <div class='powered_by'>
                                            </div>
                                        </div>
                                        <script src="https://getsatisfaction.com/pebble/widgets/javascripts/3613bbf/widgets.js" type="text/javascript"></script>
                                        <div id="getsat-widget-809" class="gscommunity"></div>
                                        <script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
                                        <script type="text/javascript">
                                        if (typeof GSFN !== "undefined") { GSFN.loadWidget(809,{"containerId":"getsat-widget-809"}); }
                                        </script>
                                </div>
                            </div>
                        </div>
                </div>
            </div><!--/.container-->    
 {% endblock %} 
