{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
<div class="enquiries">
    <div class="body" id="body">
        <div class="row">
            <h1>Terms and Conditions</h1>
                <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                    <div class="box">
                      <h2>Fund Manager Terms and Conditions</h2>
                      <a class="btn" href="/terms/fm/">
                        Fund Manager Terms and Conditions
                      </a>
                      <hr/>
                      <h2>Joinos Terms and Conditions</h2>
                      <a class="btn" href="/terms/joinos/">
                        Joinos Terms and Conditions
                      </a>
                    </div>
                </div>
                    <div class="grid1 sidebar device-hide"> <!-- Column. Modules inside will stack vertically -->
                      <img src="{{ STATIC_URL }}img/tandc.png" alt="myPebble Terms and Conditions">
                    </div>
        </div>
    </div>
</div>
{% endblock %}
