{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block primary %}

<div class="fm">
                <div class="row">
                    <h1 class="#">
                    Fund Manager - FREE Webinar
                    </h1>
                </div>
                <div class="row">
           <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid2">
                            <div class="box-inner">
                                <p>Want to learn how to streamline your end of year reporting, make the most of the group function, or use the ‘Who’s Not Paid’ report more efficiently?</p>
                                <p>Our free webinar sessions are the perfect refresher for any Fund Manager user wanting to make the most of the software.</p>
                                
                                <p>All sessions are FREE and take around 10 minutes – short, sweet and to the point. Just put your feet up and we’ll show you the ropes!
                                </p>
                            </div>
                        </div>
                    </div>
                        <div class="box grid1">
                          <h3 class="title">Fund Manager Training</h3>
                          <p>We also offer in-depth, one-to-one training sessions, tailored to your requirements. This is ideal for individuals who are taking on a new finance role within your organisation and using Fund Manager.<br/> <strong>Call us on 0845 310 1788 to book.</strong></p>
                          
                        </div>
                </div>
            
                
                <h2>To book, click your chosen webinar session and complete the short booking form:</h2>
                <div class="row productchoice  ">
                       <div class="box grid1 fm">
                            <div class="box-inner">
                                <h4 class="title"><a href="fm">End of Year Overview</a></h4>
                                <div class="description">
                                    <p>Learn how to run the End of Year reports ready for the next financial year.</p>
                                </div>
                                <a href="/enquiries/training_period_end/" class="btn pull-right">
                                  Register
                                </a>
                            </div>
                        </div>
                   <div class="box grid1 fm">
                        <div class="box-inner">
                            <h3 class="title"><a href="sfm">Groups Overview</a></h3>
                            <div class="description">
                                <p>Learn how to use groups within Fund Manager to save you time and effort on a daily basis.</p>
                            </div>
                            <a href="/enquiries/training_group/" class="btn pull-right">
                                  Register
                            </a>
                        </div>
                    </div>
                    <div class="box grid1 fm">
                        <div class="box-inner">
                            <h3 class="title"><a href="sff">Who's Not Paid Overview </a></h3>
                            <div class="description">
                                <p>Learn how to effectively use the ‘Who’s Not Paid’ report in Fund Manager to keep track of payments.</p>
                            </div>
                            <a href="/enquiries/training_not_paid/" class="btn pull-right">
                                  Register
                            </a>
                        </div>
                    </div>
                </div>
</div>
 {% endblock %} 
