{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block primary %}

<div class="support">
                <div class="row">
                    <h1 class="#">
                    Fund Manager - FREE Webinar
                    </h1>
                </div>
                <div class="row">
           <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid2">
                            <div class="box-inner">
                                <p>
                                text to go here about training webinar in general.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>For online tutorials and user guides, please select your current product:</h2>
                <div class="row productchoice ">
                       <div class="box grid1 fm">
                            <div class="box-inner">
                                <h4 class="title"><a href="fm">End of Year Overview</a></h4>
                                <div class="description">
                                    <p>Watch how to correctly run our "End of Year" reports ready for the next financial year.</p>
                                </div>
                                <a href="/enquiries/training_period_end/" class="btn pull-right">
                                  Register
                                </a>
                            </div>
                        </div>
                   <div class="box grid1 fm">
                        <div class="box-inner">
                            <h3 class="title"><a href="sfm">Groups Overview</a></h3>
                            <div class="description">
                                <p>Learn how to use Groups within Fund Manager to save you time and effort on a daily basis.</p>
                            </div>
                            <a href="/enquiries/training_group/" class="btn pull-right">
                                  Register
                            </a>
                        </div>
                    </div>
                    <div class="box grid1 fm">
                        <div class="box-inner">
                            <h3 class="title"><a href="sff">Who's Not Paid Overview </a></h3>
                            <div class="description">
                                <p>Learn how to efficiently use the "The Who's Not Paid" report in Fund Manager.</p>
                            </div>
                            <a href="/enquiries/training_not_paid/" class="btn pull-right">
                                  Register
                            </a>
                        </div>
                    </div>
                </div>
</div>
 {% endblock %} 
