{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
<div class="fm">
  <div class="body" id="body">
    <div class="row">
      <h1>{% placeholder "pgtitle" or  %}{% endplaceholder %}</h1>
        <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
          <div class="box">
            {% placeholder "main_content" or %} {% endplaceholder %} 
          </div> 
        </div>
        <div class="grid1 sidebar device-hide"> <!-- Column. Modules inside will stack vertically -->
          <div class="box grid1">
            <h2 class="title">{% placeholder "side_secondary_h" or %}{% endplaceholder %}</h2>
            <div class="description">
              {% placeholder "side_secondary_p" or %} {% endplaceholder %}                                    
              <blockquote>
              <p>I have taken advantage of the upgrades and new developments along the way and have never been disappointed.</p>
              <small>Sheila Cooper, School Business Manager, Holy Cross Catholic High School</small>
              </blockquote>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="grid2 fm"> <!-- Column. Modules inside will stack vertically -->
        <div class="box calltoaction">
          <h2 class="title">Let us show you how Fund Manager can make a real difference to your organisation.</h2>
            <div class="description">
              <p>Get in touch for an online demonstration and a quotation tailored to your needs.</p>
              <a class="btn btn-large btn-calltoaction" href="/enquiries/demo/">Talk to us<i class="i icon-arrow-r-white"></i></a>
            </div>
         </div>
      </div>
    </div>
  </div>        
</div>
{% endblock %} 
