{% extends "base.html" %}
{% load cms_tags %}
{% block primary %}
<div class="">
    <div class="body" id="body">
        <div class="row">
            <h1>{% placeholder "pgtitle" or  %}{% endplaceholder %}</h1>
                <div class="grid2 content"> <!-- Column. Modules inside will stack vertically -->
                    <div class="box grid2 ">
                        <div class="box-inner">
                            {% placeholder "main_content" or %} {% endplaceholder %} 
                        </div>
                    </div> 
                </div>
                    <div class="grid1 sidebar upgrade"> <!-- Column. Modules inside will stack vertically -->
                        <div class="supportcommunitybox box grid1">
                            <div class="box-inner">
                                <h2 class="title">{% placeholder "side_secondary_h" or %}{% endplaceholder %}</h2>
                                    <div class="description">
                                        {% placeholder "side_secondary_p" or %} {% endplaceholder %}                                    <blockquote>
                                        <p>TEST Testimonial. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                        <small>Name, occupation, organisation</small>
                                    </blockquote>
                                    
                                    </div>
                </div>
            </div>
        </div>
      
       <div class="row">
                    <div class="grid2 content fm"> <!-- Column. Modules inside will stack vertically -->
                        <div class="box grid2 calltoaction">
                            <div class="box-inner">
                                <h2 class="title">Get a free quotation</h2>
                                <div class="description">
                                    <p>Transform your accounting from only £99 per month</p>
                                    <p><small><a href="#">Upgrading from a previous version?</a></small></p>
                                    <a class="btn btn-large btn-calltoaction">Talk to us <i class="i icon-arrow-r-white"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
      
      
     </div>
    </div>        
</div>
{% endblock %} 
