@media (max-width: 480px) {
  .container{
    width:auto;
    margin:0px 5%;
  }
  .device-hide, #fdbk_tab{
    display: none !important;
  }
 .box , .box.hero{
    border-radius:0px;
    box-shadow:none;
  }
  
  .grid3, .grid2, .grid1, .carousel-inner .text {
  width:auto;
  margin-left:0px;
  }
  .box.grid1.sff, .box.grid1.fm{
  background-image:url('');
  margin-left:0px;
  width:auto;
  }
}
@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 969px) {
  
}

@media (min-width: 970px) {
}


@media (min-width: 1200px) {
}
